<header>
  <h1><%= link_to 'Media Ranker', root_path %></h1>
</header>
<main>
  <div>
    <h2>Media Spotlight:</h2>
    <% spotlight = @works.sample %>
    <%= link_to spotlight.title, work_path(spotlight.id) %> by <%= spotlight.creator %>
  </div>
  <section>
    <h3>Top Movies</h3>
    <% movies = @works.select { |work| work.category == "movie" } %>
    <% movies.each do |movie| %>
      <p><%= link_to movie.title, work_path(movie.id) %> by <%= movie.creator %></p>
    <% end %>
  </section>
  <section>
    <h3>Top Books</h3>
    <% books = @works.select { |work| work.category == "book" } %>
    <% books.each do |book| %>
      <p><%= link_to book.title, work_path(book.id) %> by <%= book.creator %></p>
    <% end %>
  </section>
  <section>
    <h3>Top Albums</h3>
    <% albums = @works.select { |work| work.category == "album" } %>
    <% albums.each do |album| %>
      <p><%= link_to album.title, work_path(album.id) %> by <%= album.creator %></p>
    <% end %>
  </section>
</main>
