<h1>Media Raker</h1>

<p>
  Media Spotlight: <%= @spot.title%> by <%= @spot.creator%>
  Synopsis: <%= @spot.description %>
</p>
<div>
  <h2> Top Books </h2>
  <ul>
    <% @books.each do |book| %>
    <li> <%= link_to "#{book.title}", work_path(book.id) %> by <%= book.creator %> </li>
    <% end %>
  </ul>

  <%= link_to "More Books", list_works_path("books"), work_category: "Books" %>
</div>

<div>
  <h2> Top Movies </h2>
  <ul>
    <% @movies.each do |movie| %>
    <li> <%= link_to "#{movie.title}", work_path(movie.id) %> by <%= movie.creator %> </li>
    <% end %>
  </ul>
  <%= link_to "More Movies", list_works_path("movies"), work_category: "Movies" %>
  <!-- link_to "Link text", some_path(:foo => "bar", :baz => "quux"), user: @user, :method => :post -->
</div>

<div>
  <h2> Top Albums </h2>
  <ul>
    <% @albums.each do |album| %>
    <li> <%= link_to "#{album.title}" %> by <%= album.creator %> </li>
    <% end %>
  </ul>
  <% @work_category = "Albums" %>
  <%= link_to "More Albums", list_works_path("albums"), work_category: "Albums" %>
</div>
