<section id="content">

  <h2>Media Spotlight:</h2>
  <p>
    Amazing people. Amazing things.
  </p>


  <h2>Top albums:</h2>

  <table>
    <tr>
      <th>Title</th>
      <th>Creator</th>
    </tr>
    <% @albums.each do | album | %>
    <tr>
      <td><%= album.title %></td>
      <td><%= album.creator %></td>
    </tr>
    <% end %>


  </table>
  <section>
    <p>
      <%=link_to "View more albums", albums_path %>
    </p>
  </section>

  <h2>Top books:</h2>

  <table>
    <tr>
      <th>Title</th>
      <th>Creator</th>

    </tr>
    <% @books.each do | book | %>
    <tr>
      <td><%= book.title %></td>
      <td><%= book.creator %></td>
    </tr>
    <% end %>

  </table>
  <section>
    <p>
      <%=link_to "View more books", books_path %>
    </p>
  </section>

  <h2>Top movies:</h2>
  
  <table>
    <tr>
      <th>Title</th>
      <th>Creator</th>

    </tr>

  </table>
  <section>
    <p>
      <%=link_to "View more movies", movies_path %>
    </p>
  </section>

</section>
