<ul class="error">
  <% @user.errors.each do |field, msg| %>
    <li>
      <%= field %>: <%= msg %>
    </li>
  <% end %>
</ul>

<h3>Log In</h3>

<%= form_tag login_path do %>
  <%= label_tag "username", "Username" %>
  <%= text_field_tag "username" %>

  <%= submit_tag "Log In", class: "button" %>
<% end %>
