<main class="row">

<section class="spotlight row">
  <h3>Media Spotlight: <%= @spotlight.title %> by <%= @spotlight.creator %></h3>
  <p><%= @spotlight.votes.length %> votes </p>

</section>
<ul class="top columns large-4 small-12" >
  <h2>Top Albums</h2>
<% @albums.each do |a| %>
<li>
  <h4><%=link_to a.title, album_path(a.id) %><h4> <small>by <%= a.creator%></small>
  <p><%= a.votes.length %> votes</p>
</li>
<% end %>
<%= link_to "View More Albums", albums_path %>
</ul>

<ul class="top columns large-4 small-12" >
<h1>Top Books</h1>
<% @books.each do |b| %>
<li>
  <h4><%=link_to b.title, book_path(b.id) %></h4> <small>by <%= b.creator %></small>
  <p><%= b.votes.length %> votes</p>
</li>
<% end %>
<%= link_to "View More Books", books_path %>

</ul>

<ul class="top columns large-4 small-12" >
<h2>Top Movies</h2>
<% @movies.each do |m| %>
<li >
  <h4><%=link_to m.title, movie_path(m.id) %></h4> <small>by <%= m.creator %></small>
  <p><%= m.votes.length %> votes</p>
</li>
<% end %>
<%= link_to "View More Movies", movies_path %>
</ul>

</main>
