<h1>Movies#show</h1>
<p><%= @movie.title %></p>
<p><%= @movie.id %></p>
<p><%= @movie.category %></p>
<p><%= @movie.creator %></p>
<p><%= @movie.publication_year %></p>
<p><%= @movie.description %></p>
