<section class="show columns large-6 small-12">
<h3><%= @movie.title %></h3>
<p>Created by: <%= @movie.creator %></p>
<p>Published: <%= @movie.publication_year %></p>
<p>Description: <%= @movie.description %></p>

<%= link_to "Back to movie list", movie_path, class: "button" %>
<%= link_to "Edit", edit_movie_path(@movie.id), class: "button" %>
<%= link_to "Upvote", movie_vote_path(@movie.id), :method => :post, class: "button" %>
<%= link_to "Delete", movie_path(@movie.id),
    data: { confirm: "Are you sure you want to delete this movie?" },
    method: :delete, class: "alert button"
%>
</section>

<section class="voting columns large-6 small-12">
  <h3><%= @movie.votes.length %> votes for this movie</h3>
  <table>
    <thead>
      <tr>
        <th>User</th>
        <th>Date</th>
      </tr>
    </thead>
  <% @movie.votes.each do |vote| %>
  <td>
    <%=link_to User.find(vote.user_id).username, user_path(vote.user_id) %>
  </td>
  <td>
    <%= vote.created_at %>
  </td>
  <% end %>
  </table>

</section>
