<h1 class="category-header">List of <%=category.capitalize.pluralize%></h1>

<section class="category-table">
  <% if !Work.where(category: category).any? %>
  <p>
    No <%=category.pluralize%> found.
  </p>
  <% else %>
  <% works = Work.where(category: category) %>
  <table>
    <tr>
      <th>
        Votes
      </th>
      <th>
        Title
      </th>
      <th>
        Created By
      </th>
      <th>
        Published
      </th>
      <th>
        Upvote
      </th>
    </tr>
    <% works.each do |work| %>
    <tr>
      <td>
        <%= work.votes_count %>
      </td>
      <td>
        <%= link_to work.title, work_path(work.id) %>
      </td>
      <td>
        <%= work.creator %>
      </td>
      <td>
        <%= work.published %>
      </td>
      <td>
        <%= link_to "Upvote", new_vote_path(work.id), method: :post %>
      </td>
    </tr>
    <% end %>
  </table>
  <% end %>
</section>
<section class="bottom-buttons">
  <ul>
    <li>
      <%= button_to "View All Media", works_path, method: :get %>
    </li>
    <li>
      <%= link_to "Add a New #{category.capitalize}", new_work_path(category: category), method: :get %>
    </li>
  </ul>
</section>
