
<% selected_works = @works.select { |work| work.category == category} %>
    <% selected_works[0..9].each do |work| %>
    <li>
      <h4><%= link_to work.title, work_path(work.id) %> by <%= work.creator %></h4>
      <p><%= work.votes.count %> <%= "vote".pluralize(work.votes.count) %></p>
    </li>
    <% end %>


<h3><%= link_to "add new #{category}", new_with_category_path(category.pluralize) %></h3>
<h3><%= link_to "see all #{category.pluralize}", category_path(category.pluralize) %></h3>
