<article class="top-#{category}s">
  <h2 class="category-header">Top <%=category.capitalize%></h2>
  <div class="category-title">
    <% works = Work.top_ten(category) %>
  </div>
  <% if works.empty? %>
  <p>
    No <%= category.pluralize %> found.
  </p>
  <% else %>
    <% works.each do |work| %>
      <p class="work-details">
        <%= link_to work.title, work_path(work.id) %><span class="work-creator-top-ten"> by <%= work.creator %></span>
      </p>
      <p class="work-votes">
        <%= work.votes_count %> votes
      </p>
    <% end %>
    <%= link_to "View More #{category.capitalize.pluralize}", "works/#{category.pluralize}", method: :get %>
  <% end %>
</article>
