<h2><%= "All #{work_type}s" %></h2>

<ul>
  <% @works.each do |work| %>
  <li>
    <%= link_to "Title: #{work.title}", work_path(work.id) %>
    <%= "Category: #{work.category}" %>
    <%= "Created By: #{work.creator}" %>
    <%= "Published: #{work.pub_date}" %>
  </li>
  <% end %>
</ul>
<%= link_to "Main Page", welcome_path %>
