<h2>List of <%= "#{submit_text}" %></h2>

<table>
  <tr>
    <th>Votes</th>
    <th>Title</th>
    <th>Created By</th>
    <th>Published</th>
    <th>Upvote</th>
  </tr>
  <% items.each do |work|%>
  <tr>
    <td>50/vote-count</td>
    <td><%= link_to work.title, work_path(work.id) %></td>
    <td><%= work.creator %></td>
    <td><%= work.publication_year %></td>
    <td><button>Upvote</button></td>
  </tr>
  <% end %>
</table>

<br />
<button><%= link_to "View all media", mainpages_path %></button>
<%= button_to "Add a new #{submit_text}" %>
