
<tr>
  <td> <%= item.votes_count  %>  </td>
  <td> <%=link_to "#{item.title}",work_path(item.id)%></td>
  <td> <%= item.creator  %> </td>
  <td> <%= item.publication_year%> </td>
  <td>  <%= button_to 'Upvote', upvote_path(item) , method: :post %>  </td>
  <td>  <%= button_to 'Downvote', downvote_path(item) , method: :delete %>  </td>
</tr>
