<section>
<table>
  <thead>
    <tr>
      <th>Votes</th>
      <th>Title</th>
      <th>Created By </th>
      <th>Published</th>
      <th>Upvote</th>
    </tr>
  </thead>
  <tbody>
  <% works.each do |item| %>
    <tr>
        <td>Number</td>
        <td><%= link_to item.title, work_path(item.id) %></td>
        <td> <%= item.creator%></td>
        <td><%= item.publication_year%></td>
        <td><% if session[:user_id] %>
              <%= link_to "Upvote", vote_path(@work.id), method: :post %>
            <% end %>
        </td>
    </tr>
  <% end %>
    </tbody>
</table>
</section>

<p><%= link_to "View all Media", welcome_path, class: "button" %></p>
