<h3>List of <%= @category.pluralize.capitalize %></h3>

<section class="media-table">
  <table>
    <thead>
      <tr>
        <th>Vote Total</th>
        <th>Title</th>
        <th>Created By</th>
        <th>Published</th>
      </tr>
    </thead>
    <tbody>
      <% @works.each do |work| %>
        <tr>
          <td class="vote-box">
            <%= link_to image_tag("upvote.png", class: "vote-arrow"), vote_path(work.id, 1), method: :patch %>
            <br /><%= work.vote_total %><br />
            <%= link_to image_tag("downvote.png", class: "vote-arrow"), vote_path(work.id, -1), method: :patch %>
          </td>
          <td><%= link_to work.title, work_path(work.id) %></td>
          <td><%= work.creator %></td>
          <td><%= work.publication_year %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= link_to "View all media", root_path, class: "button" %>
  <%= link_to "Add a new #{@category}", new_work_path(@category), class: "button" %>
</section>
