<h3>List of <%= @category.pluralize.capitalize %></h3>

<section class="media-table">
  <table>
    <thead>
      <tr>
        <th>Votes</th>
        <th>Title</th>
        <th>Created By</th>
        <th>Published</th>
        <th>Upvote</th>
      </tr>
    </thead>
    <tbody>
      <% @works.each do |work| %>
        <tr>
          <td>5</td>
          <td><%= link_to work.title, work_path(@category, work.id) %></td>
          <td><%= work.creator %></td>
          <td><%= work.publication_year %></td>
          <td>Upvote</td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= link_to "View all media", root_path %>
</section>
