<h2>Media Spotlight: </h2>
<!-- @top.title -->

<h2>Top Movies: </h2>
<% @movies[0...10].each do |movie| %>
  <%= link_to movie.title, work_path(movie) %>
  by <%= movie.by %></br>
<% end %>

<h2>Top Books: </h2>
<% @books[0...10].each do |book| %>
  <%= link_to book.title, work_path(book) %>
  by <%= book.by %></br>
<% end %>
<h2>Top Albums: </h2>
<% @albums[0...10].each do |album| %>
  <%= link_to album.title, work_path(album) %>
  by <%= album.by %></br>
<% end %>
