<section class="index">

<section class="featured-work">
  <% if !Work.any? %>
    <p>
      Media Spotlight: No media yet!
    </p>
  <% else %>
    <% featured_work = Work.max_votes %>
    <p class="featured-details">
      Media Spotlight: <%= link_to featured_work.title, work_path(featured_work.id) %> by <%= featured_work.creator %>
    </p>
    <p>
      <%= featured_work.votes_count %> votes
    </p>
  <% end %>
</section>
<section class="top-ten-all-types">
  <%= render partial: "indexcategory", locals: {category: "movie"} %>

  <%= render partial: "indexcategory", locals: {category: "book"} %>

  <%= render partial: "indexcategory", locals: {category: "album"} %>

</section>


</section>
