<body>
  <h1>List of <%= @work_category.capitalize%></h1>
  <table>
    <tr>
      <th>Votes</th>
      <th>Title</th>
      <th>Created By</th>
      <th>Published</th>
      <th>Upvote</th>
    </tr>
    <% @works.each do |work|%>
    <tr>
      <td><%= work.votes.count %></td>
      <td><%= link_to work.title, work_path(work.id) %></td>
      <td><%= work.creator %></td>
      <td><%= work.publication_year %></td>
      <td class = "button"><%= link_to "Upvote", vote_path(work.id), method: :post %></td>
    </tr>
    <% end %>
  </table>

  <div class = "button"><%= link_to "View all media", main_path %></div>
  <div class = "button"><%= link_to "Add New #{@work_category.capitalize}", new_work_path %></div>
</body>
