
<h1>Media Spotlight: <%= link_to @works.first.title, work_path(@works.first.id)%> by <%=@works.first.created_by%></h1>
<p>

  <%=@works.first.votes.count %> votes - <%= @works.first.description %></br>
</p>








<table>
  <tr>
    Top Movies
  </tr>
  <% @movies = [] %>
  <% @works.each do |work| %>
    <% if work.category == "movie" %>
      <% @movies << work %>
      <% end %>
  <% end %>
  <% @movies[0..9].each do |work| %>
  <tr>
    <td>
      <%=link_to work.title, work_path(work.id)%> by <%=work.created_by%></br>
      <%= work.votes.count %> votes
    </td>
  </tr>
  <tr>

  </tr>
  <% end %>
</table>

<%= link_to "View more movies", category_path("movies"), method: :get %></br>

<table>
  <tr>
    Top Books
  </tr>
  <% @books = [] %>
  <% @works.each do |work| %>
  <% if work.category == "book" %>
  <% @books << work %>
  <% end %>
  <% end %>
  <% @books[0..9].each do |work| %>
  <tr>
    <td>
      <%=link_to work.title, work_path(work.id)%> by <%=work.created_by%> </br>
        <%= work.votes.count %> votes
    </td>
  </tr>
  <% end %>
</table>

<%= link_to "View more books", category_path("books"), method: :get %></br>

<table>
  <tr>
    Top Albums
  </tr>
  <% @albums = [] %>
  <% @works.each do |work| %>
  <% if work.category == "album" %>
  <% @albums << work %>
  <% end %>
  <% end %>
  <% @albums[0..9].each do |work| %>
  <tr>
    <td>
      <%=link_to work.title, work_path(work.id)%> by <%=work.created_by%></br>
        <%= work.votes.count %> votes
    </td>
  </tr>
  <% end %>
</table>

<%= link_to "View more alboms", category_path("albums"), method: :get %></br>
