<h1>Top Works</h1>

<!-- <h1>Media Spotlight</h1> -->

<h2>Top Work!</h2>
<%= @top_work.title %>

<h2>Books</h2>
<% @books[0..9].each do |book| %>
  <h3>
    <%= link_to book.title, work_path(book.id) %> by <%= book.creator %>
  </h3>
  <h4>
    Votes: <%= book.votes.length %>
  </h4>
<% end %>
<%= link_to "More Books", books_path %>

<h2>Albums</h2>
<% @albums[0..9].each do |album| %>
  <h3>
    <%= link_to album.title, work_path(album.id) %> by <%= album.creator %>
  </h3>
  <h4>
    Votes: <%= album.votes.length %>
  </h4>
<% end %>
<%= link_to "More Albums", albums_path %>

<h2>Movies</h2>
<% @movies[0..9].each do |movie| %>
  <h3>
    <%= link_to movie.title, work_path(movie.id) %> by <%= movie.creator %>
  </h3>
  <h4>
    Votes: <%= movie.votes.length %>
  </h4>
<% end %>
<%= link_to "More Movies", movies_path %>
