<main>
  <section>
    <h2>Media Spotlight</h2>
  </section>

  <% [@movies, @books, @albums].each do |collection| %>

    <section class="top-ten columns large-4 small-12">
      <h3>Top </h3>
      <ul>
        <% find_top_ten(collection).each do |work| %>
          <h4><%= link_to work.title, work_path(work.id) %> by <%= work.creator %></h4>
          <p><%= work.votes.count %> votes</p>
        <% end %>
      </ul>
      <%= link_to "View more Movies", movies_path %>
    </section>

  <section class="top-ten columns large-4 small-12">
    <h3>Top Books</h3>
    <ul>

      <% find_top_ten(@books).each do |book| %>
        <li><h4><%= link_to book.title, work_path(book.id) %> by <%= book.creator %></h4></li>
        <li><p><%= book.votes.count %> votes</p></li>
      <% end %>
    </ul>
    <%= link_to "View more Books", books_path %>
  </section>

  <section class="top-ten columns large-4 small-12">
    <h3>Top Albums</h3>

    <% find_top_ten(@albums).each do |album| %>
      <h4><%= link_to album.title, work_path(album.id) %> by <%= album.creator %></h4>
      <p><%= album.votes.count %> votes</p>
    <% end %>

    <%= link_to "View more Albums", albums_path %>
  </section>
</main>
