<h1>List of <%= @work_category.capitalize%></h1>
<ul>
<% @works.each do |work|%>
<li><%= work.votes.count %> <%= work.title %> <%= work.creator %> <%= work.publication_year %></li>
<% end %>
</ul>

<%= link_to "Add New #{@work_category.capitalize}", new_work_path %>
