<h2>List of Movies</h2>
<table>
  <th>Votes:</th>
  <th>Title:</th>
  <th>Created By:</th>
  <th>Published:</th>
  <th>Upvotes:</th>
  <% @works.each do |work| %>
  <tr>
    <td><%= work.votes.count %></td>
    <td><%= link_to "#{work.title}", work_path(work.id) %></td>
    <td><%= "#{work.creator}" %></td>
    <td><%= "#{work.publication_year}" %></td>
    <td> <%= button_to "Vote", vote_work_path(work.id), :class => "button", method: :post %> </td>
  </tr>
  <% end %>
</table>
<br>
<%= link_to "View All Media", root_path, :class => "button" %> <%= link_to "Add a new #{params[:category].singularize}", new_work_path(params[:category]), :class => "button" %>
