<section id="content">
  <h2>All Works!</h2>

  <table>
    <tr>
      <th>Category</th>
      <th>Title</th>
      <th>Creator</th>
      <th>Publication Year</th>
      <th>Description</th>
    </tr>
    <% @works.each do | work | %>
    <tr>
      <td><%= work.category %></td>
      <td><%= work.title %></td>
      <td><%= work.creator %></td>
      <td><%= work.pub_year %></td>
      <td><%= work.description %></td>
    </tr>
    <% end %>
  </table>

<p><%=need to link to books, albums, and movies%></p>
<h2><%= link_to "Books", "/books" %> </h2>

</section>
