<h1>Media Spotlight</h1>
<h2>Top Movies</h2>
<p>
  <% @movies.each do |a| %>
  <ul>
    <%= link_to a.title, work_path(a.id) %>, <%= a.creator %>, <%= a.publication_year %>
  </ul>
  <% end %>
  <%= link_to "View more movies", movies_path %>
</p>

<h2>Top Books</h2>
<p>
  <% @books.each do |a| %>
  <ul>
    <%= link_to a.title, work_path(a.id) %>, <%= a.creator %>, <%= a.publication_year %>
  </ul>
  <% end %>
  <%= link_to "View more books", books_path %>

</p>

<h2>Top Albums</h2>
<p>
  <% @albums.each do |a| %>
  <ul>
    <%= link_to a.title, work_path(a.id) %>, <%= a.creator %>, <%= a.publication_year %>
  </ul>
  <% end %>
  <%= link_to "View more albums", albums_path %>

</p>
