<h1>Category#index</h1>
<!-- <%= params[:category] %> -->
<br>This is my single index for books, albums, and movies
<table>
  <th>Votes:</th>
  <th>Title:</th>
  <th>Created By:</th>
  <th>Published:</th>
  <th>Upvotes:</th>
  <% @works.each do |work| %>
  <tr>
    <td><%= work.votes.count %></td>
    <td><%= link_to "#{work.title}", work_path(work.id) %></td>
    <td><%= "#{work.creator}" %></td>
    <td><%= "#{work.publication_year}" %></td>
    <td> <%= button_to "Vote", vote_work_path(work.id), :class => "button", method: :post %> </td>
  </tr>
  <% end %>
</table>
<br>
<%= link_to "Back to list", root_path %>
<br>
<%= link_to "New Work", new_work_path(params[:category]) %>
