<section class="row spotlight">
  <div>
    <h3> Media Spotlight: <%= @spotlight_work.name %> </h3>
    <p>
      <%= @spotlight_work.votes_count %> votes - "<%= @spotlight_work.desc %>"
    </p>
  </div>
</section>

  <article class="top-ten columns large-4 small-12">
    <h3>Top Movies</h3>
      <% @movies.each do |movie| %>
        <ul>
          <li>
            <%= link_to movie.name, work_path(movie.id) %> by <%= movie.created_by %>
          </li>
          <li>
            <%= movie.votes_count %> votes
          </li>
        </ul>
      <% end %>
    <%= link_to "View More Movies", '/movies' %>
  </article>
  <article class="top-ten columns large-4 small-12">
    <h3>Top Books</h3>

      <% @books.each do |book| %>
        <ul>
          <li>
            <%= link_to book.name, work_path(book.id) %> by <%= book.created_by %>
          </li>
          <li>
            <%= book.votes_count %> votes
          </li>
        </ul>
      <% end %>
    <%= link_to "View More Books", '/books' %>
  </article>
  <article class="top-ten columns large-4 small-12">
    <h3>Top Albums</h3>

      <% @albums.each do |album| %>
        <ul>
          <li>
            <%= link_to album.name, work_path(album.id) %> by <%= album.created_by %>
          </li>
          <li>
            <%= album.votes_count %> votes
          </li>
        </ul>
      <% end %>
    <%= link_to "View More Albums", '/albums' %>
  </article>
