<section class="index row">

  <section class="featured-work">
    <% if !Work.any? %>
    <div class="row">
      <p>
        Media Spotlight: No media yet!
      </p>
    </div>
    <% else %>
    <% featured_work = Work.max_votes %>
    <div class="row">
    <p class="columns small-12 featured-details">
      Media Spotlight: <%= link_to featured_work.title, work_path(featured_work.id) %> by <%= featured_work.creator %>
    </p>
    <p class="columns small-12 featured-votes">
      <%= featured_work.votes_count %> votes - <%= featured_work.description %>
    </p>
  </div>
    <% end %>
  </section>
  <section class="top-ten-all-types">
    <div class="small-12 large-4 columns">
      <%= render partial: "indexcategory", locals: {category: "movie"} %>
    </div>

    <div class="small-12 large-4 columns">
      <%= render partial: "indexcategory", locals: {category: "book"} %>
    </div>

    <div class="small-12 large-4 columns">
      <%= render partial: "indexcategory", locals: {category: "album"} %>
    </div>


  </section>


</section>
