<section class="row spotlight">
  <div>
    <h3>Media Spotlight: <%= link_to @spotlight_work.title, work_path(@spotlight_work.id) %> by <%= @spotlight_work.creator %></h3>
    <p>
      <%= @spotlight_work.vote_total %> votes
      <%= "- #{@spotlight_work.description}" unless @spotlight_work.description.blank? %>
    </p>
  </div>
</section>

<% @categories.each do |category| %>
  <section class="top-ten columns large-4 small-12">
    <h3>Top <%= category.pluralize.capitalize %></h3>
    <ul>
      <% Work.top_10(category).each do |work| %>
        <li>
          <h4><%= link_to work.title, work_path(work.id) %> by <%= work.creator %></h4>
          <p><%= work.vote_total %> votes</p>
        </li>
      <% end %>
    </ul>
    <%= link_to "View More #{category.pluralize.capitalize}", works_path(category) %>
  </section>
<% end %>
