<% if @works.empty? %>
<h1> There are no <%= request.path[1..-1].capitalize %>! </h1>
<% else %>
<h1>All <%= @works.sample.category.capitalize%>s</h1>

<table>
  <tr>
  <th>Votes</th>
  <th>Title</th>
  <th>Created by</th>
  <th>Published</th>
  <th>Upvote</th>
</tr>
<tr>
<% @works.sort_by{|a| a.votes.count}.reverse.each do |work| %>
<td><%= work.votes.count%></td>
<td><%= link_to "Title: #{work.title}", work_path(work.id)%></td>
<td><%= work.creator %></td>
<td><%= work.published_year%></td>
<td><%= button_to work.votes.select { |vote| vote[:user_id] == session[:user_id] }.empty? ? 'Upvote' : 'Remove Vote', upvote_path(work.id) %></td>
</tr>
<% end %>
<%end%>

<%= link_to "View All Media", home_path %>
<%= link_to "Add a New Media", new_work_path%>
