<section>
  <h3>Media Spotlight: <%= @spotlight_work.title %> by <%= @spotlight_work.creator %></h3>
</section>

<% @categories.each do |category| %>
  <section>
    <h3>Top <%= category.pluralize.capitalize %></h3>
    <ul>
      <% Work.top_10(category).each do |work| %>
        <li>
          <h4><%= link_to work.title, work_path(work.id) %> by <%= work.creator %></h4>
          <p><%= work.votes.count %> votes</p>
        </li>
      <% end %>
    </ul>
    <%= link_to "View More #{category.pluralize.capitalize}", works_path(category) %>
  </section>
<% end %>
