<h2>Media Ranker</h2>
<h3>Ranking the Best of Everything</h3>

<% if @top_work != nil %>
<h4>Media Spotlight: <%= link_to @top_work.title, work_path(@top_work.id) %> by <%= @top_work.created_by %></h4>
<p><%= @top_work.votes.count %> votes <%= @top_work.description %></p>
<% end %>

<h4>Top Movies</h4>
<ul>
<% @works.each do |work| %>
  <% if work.category == "movie" %>
  <li>Votes: <%= work.votes.count %>, <%= link_to work.title, work_path(work.id) %> by <%= work.created_by %></li>
    <% end %>
<% end %>
<%= link_to "View More Movies", works_path("movies") %>
</ul>

<h4>Top Albums</h4>
<ul><% @works.each do |work| %>
  <% if work.category == "album" %>
  <li> Votes: <%= work.votes.count %>, <%= link_to work.title, work_path(work.id)%> by <%= work.created_by %></li>
  <% end %>
<% end %>
<%= link_to "View More Albums", works_path("albums") %>
</ul>

<h4>Top Books</h4>
<ul><% @works.each do |work| %>
  <% if work.category == "book" %>
  <li>Votes: <%= work.votes.count %>, <%= link_to work.title, work_path(work.id) %> by <%= work.created_by %></li>
    <% end %>
<% end %>
<%= link_to "View More Books", works_path("books") %>
</ul>
