<section>
  <h3>Media Spotlight: <%= @spotlight_work.title %> by <%= @spotlight_work.creator %></h3>
</section>

<% @categories.each do |category| %>
  <section>
    <h3>Top <%= category.capitalize %>s</h3>
    <ul>
      <% Work.where(category: category)[0..9].each do |work| %>
        <li>
          <h4><%= work.title %> by <%= work.creator %></h4>
        </li>
      <% end %>
    </ul>
  </section>
<% end %>
