<section class="row spotlight">

  <% if @top_work != nil %>
    <h3>Media Spotlight: <%= link_to @top_work.title, work_path(@top_work.id) %> by <%= @top_work.created_by %></h3>
    <p><%= @top_work.votes.count %> votes <%= @top_work.description %></p>
  <% end %>

</section>

<section class="top-ten columns large-4 small-12">
  <h4>Top Movies</h4>
    <ul>
      <% @works.each do |work| %>
        <% if work.category == "movie" %>
          <li>
           <h4> <%= link_to work.title, work_path(work.id)%></h4>
           <small> by <%= work.created_by %></small>
          <p><%= work.votes.count %> votes</p>
         </li>
        <% end %>
      <% end %>
  </ul>
  <%= link_to "View More Movies", works_path("movies") %>
</section>

<section class="top-ten columns large-4 small-12">
  <h4>Top Albums</h4>
    <ul><% @works.each do |work| %>
      <% if work.category == "album" %>
        <li>
         <h4> <%= link_to work.title, work_path(work.id)%></h4>
         <small> by <%= work.created_by %></small>
        <p><%= work.votes.count %> votes</p>
       </li>
      <% end %>
    <% end %>
    </ul>
  <%= link_to "View More Albums", works_path("albums") %>
</section>

<section class="top-ten columns large-4 small-12">
  <h4>Top Books</h4>
    <ul><% @works.each do |work| %>
      <% if work.category == "book" %>
      <li>
       <h4> <%= link_to work.title, work_path(work.id)%></h4>
       <small> by <%= work.created_by %></small>
      <p><%= work.votes.count %> votes</p>
     </li>
     <% end %>
    <% end %>
    </ul>
  <%= link_to "View More Books", works_path("books") %>
</section>
