<h1>List of Movies</h1>

   <% @movies.each do |work| %>
<table>
<tr>
  <td> <%= work.title %> <%= work.creator %> <%= work.publish_year %> </td>
  </tr>
    <% end %>
</table>

<h3> <%= button_to("View all Media", root_path, method: :get) %> </h3>
<h3> <%= button_to("Add", new_work_path, method: :get) %> </h3>
