<head>
  <%= stylesheet_link_tag 'foundation'%>'
</head>
<body>
  <section id = "top">
    <h2> Media Spotlight </h2>
    <p>
      <%@highest.each do |id, count| %>
      <%="#{Work.find(id).title} by "%>
      <%="#{Work.find(id).created_by}"%>
      <%="#{Work.find(id).votes.length} votes"%>
      <% break%>
      <%end%>
    </p>
  </section>
  <section id = "albums" class = "small-12 medium-12 large-4">
    <h2> Top Albums </h2>
    <% @albums.each do |item| %>
      <%=render partial: 'list' ,  locals:{item:item}%>

      <%end%>
    </section>

    <section id = "books"  class = "small-12 medium-12 large-4">
      <h2> Top Books </h2>
      <% @books.each  do |item|  %>
        <%=render partial: 'list',  locals:{item:item} %>
        <%end%>
      </section>

      <section id = "movies" class = "small-12 medium-12 large-4">
        <h2> Top Movies</h2>
        <% @movies.each do |item| %>
          <%=render partial: 'list' ,  locals:{item:item}%>
          <%end%>
        </section>
      </body>
