<section class="row spotlight">
  <div>
    <% spotlight = @works.sample %>
    <h3> Media Spotlight: <%= spotlight.name %> </h3>
    <p>
      X votes - "<%= spotlight.desc %>"
    </p>
  </div>
</section>

  <article class="top-ten columns large-4 small-12">
    <%= render partial: 'movies/list' %>
  </article>
  <article class="top-ten columns large-4 small-12">
    <%= render partial: 'books/list' %>
  </article>
  <article class="top-ten columns large-4 small-12">
    <%= render partial: 'albums/list' %>
  </article>
