<h1>Media Ranker Index</h1>

<%= button_to "Login", login_path, method: :get %>

<p>
  <% Work.spot_light.each do |item|%>
  Media Spotlight: <%= link_to item.title, work_path(item.id) %></br>
  Votes: <%= item.votes.count%>
  <% end %>
</p>
<table>
  <tr>
    <th>
      Top Movies
    </th>
  </tr>
<% @movies.each do |movie| %>
<tr>

<td>
<%= link_to movie.title, work_path(movie.id) %></br>
<%= movie.votes.count %> votes
<td>
</tr>
<% end %>
</table>

<table>
  <tr>
    <th>
      Top Books
    </th>
  </tr>

<% @books.each do |book| %>
<tr>
<td>
<%= link_to book.title, work_path(book.id) %></br>
<%= book.votes.count %> votes
</td>
</tr>
<% end %>
</table>

<table>
  <tr>
    <th>
      Top Albums
    </th>
  </tr>

<% @albums.each do |album| %>
<tr>
<td>
<%= link_to album.title, work_path(album.id) %></br>
<%= album.votes.count %> votes
</td>
</tr>
<% end %>
</table>
