<section id="media-spotlight">
  <h2>Media Spotlight: (title of media with highest votes) by (creator of media with highest votes)</h2>
  <p>(number of votes) - (description)</p>
</section>

<section id="top-movies">
  <h2>Top Movies</h2>
  <% @movies.each do | movie | %>
  <ul>
    <h3><%= link_to movie.title, work_path(movie.id) %></h3>
    <h4>by <%= movie.creator %></h4>
    <p><%= movie.votes.length %> votes</p>
  </ul>
  <% end %>
  <p><%= link_to "View all movies", movies_path %></p>
</section>

<section id="top-books">
  <h2>Top Books</h2>
  <% @books.each do | book | %>
  <ul>
    <h3><%= link_to book.title, work_path(book.id) %></h3>
    <h4>by <%= book.creator %></h4>
    <p><%= book.votes.length %> votes</p>
  </ul>
  <% end %>
  <p><%= link_to "View all books", books_path %></p>
</section>

<section id="top-albums">
  <h2>Top Albums</h2>
  <% @albums.each do | album | %>
  <ul>
    <h3><%= link_to album.title, work_path(album.id) %></h3>
    <h4>by <%= album.creator %></h4>
    <p><%= album.votes.length %> votes</p>
  </ul>
  <% end %>
  <p><%= link_to "View all albums", albums_path %></p>
</section>
