<h1>Media Ranker Index</h1>

<p>
  <% Work.spot_light.each do |item|%>
  Media Spotlight: <%= item.title%></br>
  Votes: <%= item.votes.count%>
  <% end %>
</p>
<table>
  <tr>
    <th>
      Top Movies
    </th>
  </tr>
<% @movies.each do |movie| %>
<tr>

<td>
<%= movie.title %></br>
<%= movie.votes.count %> votes
<td>
</tr>
<% end %>
</table>

<table>
  <tr>
    <th>
      Top Books
    </th>
  </tr>

<% @books.each do |book| %>
<tr>
<td>
<%= book.title %></br>
<%= book.votes.count %> votes
</td>
</tr>
<% end %>
</table>

<table>
  <tr>
    <th>
      Top Albums
    </th>
  </tr>

<% @albums.each do |album| %>
<tr>
<td>
<%= album.title %></br>
<%= album.votes.count %> votes
</td>
</tr>
<% end %>
</table>
