<h1>Media Ranker</h1>

<h2>Media Spotlight: <% @spotlight = @works.sample %>
<%= @spotlight.title %> by: <%= @spotlight.creator %> </h2>


<h2>Top Albums</h2>
<ul>

  <% @albums = @works.select {|work| work.category == "album"} %>

  <% @albums.each do |album| %>
  <li>
    <%= album.title %> by <%= album.creator %>
  </li>
    <% end %>
</ul>

<h2>Top Books</h2>
<ul>

  <% @books = @works.select {|work| work.category == "book"} %>

  <% @books.each do |book| %>
  <li>
    <%= book.title %> by <%= book.creator %>
  </li>
    <% end %>
</ul>

<h2>Top Movies</h2>
<ul>

  <% @movies = @works.select {|work| work.category == "movie"} %>

  <% @movies.each do |movie| %>
  <li>
    <%= movie.title %> by <%= movie.creator %>
  </li>
    <% end %>
</ul>
