
<h1>Media Spotlight: <%=@works.first.title%> by <%=@works.first.created_by%></h1>
<%=@works.first.description %>






<table>
  <tr>
    Top Movies
  </tr>
  <% @works[0..9].each do |work| %>
  <tr>
    <td>
      <%=link_to work.title, work_path(work.id)%> by <%=work.created_by%>
    </td>
  </tr>

  <% end %>

</table>

View more movies </br>

<table>
  <tr>
    Top Books
  </tr>

  <% @works[0..9].each do |work| %>
  <tr>
    <td>
      <%=link_to work.title, work_path(work.id)%> by <%=work.created_by%>
    </td>
  </tr>
  <% end %>
</table>
View more books </br>
<table>
  <tr>
    Top Albums
  </tr>

  <% @works[0..9].each do |work| %>
  <tr>
    <td>
      <%=link_to work.title, work_path(work.id)%> by <%=work.created_by%>
    </td>
  </tr>
  <% end %>
</table>
View more albums </br>
