<main>
  <section>
    <h3>Movies</h3>
      <section>
        <table>
          <thead>
            <tr>
              <th>Votes</th>
              <th>Title</th>
              <th>Created By</th>
              <th>Published</th>
              <th>Upvote</th>
            </tr>
          </thead>

          <tbody>
            <% @movies.each do |movie| %>
              <tr>
                <td>0</td>
                <td><%= movie.title %></td>
                <td><%= movie.creator %></td>
                <td><%= movie.publication_year %></td>
                <td>Upvote</td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </section>
  </section>

  <nav>
    <%= button_to "Back To All Media", homepage_path, :class => "button", :method => :get %>
    <%= button_to "Add Movie", new_movie_path, :class => "button", :method => :get %>
  </nav>

</main>
