<h3><%= @selected_work.title %></h3>
<h4>Created by: <%=@selected_work.creator%></h4>
<h4>Published: <%=@selected_work.publication_year%></h4>
<h4><%=@selected_work.description%></h4>

<h3>Back to movie list</h3>
<h3><%= link_to "Edit", edit_work_path %></h3>
<h3>Upvote</h3>
<h3>Delete</h3>
