<h3> <%= @result_work.title %></h3>
<p>
Created by: <%= @result_work.creator %>
</p>
<p>
Published: <%= @result_work.publication_year %>
</p>
<p>
<%= @result_work.description %>
</p>

<!-- Back to creator list -->
<% if @result_work.category == 'movie' %>
  <%= link_to "Back to movie list", movies_path %>
<% elsif @result_work.category == 'book' %>
  <%= link_to "Back to book list", books_path %>
<% else @result_work.category == 'album'%>
  <%= link_to "Back to album list", albums_path %>
<% end %>


<!-- Edit -->
<!-- Upvote -->
<h3>__ Votes for this Album</h3>
<!-- table that includes users that voted and date they voted  -->
