<section class="description">
<h1> <% @result_work.title %> </h1>
<ul>
<li> Created by: <%= @result_work.creator %> </li>
<li> Published: <%= @result_work.publish_year %> </li>
<li> <%= @result_work.description %> </li>
</ul>
</section>

<% if @result_work.category == "movie" %>
<%= link_to "Back to movie list", movies_path %>
<% elsif @result_work.category == "book" %>
<%= link_to "Back to book list", books_path %>
<% else %>
<%= link_to "Back to album list", albums_path %>
<% end %>
<%= link_to "Upvote", upvote_path %>
<%= link_to "Delete", work_path(@result_work.id), data: { confirm: "Are you sure you want to delete?" }, method: :delete %>

<h3> <%= @result_work.votes.count %> Vote(s) for this <%= @result_work.category %> </h3>
<table>
<tr>
  <th>User</th>
  <th>Date</th>
</tr>
   <% @result_work.votes.each do |vote| %>
<tr>
  <td><%= vote.user.name %></td>
  <td><%=  vote.created_at %></td>
    <% end %>
</tr>
</table>
