
<section>
  <h1> <%=@work.title %> </h1>
  <p>
    Created by: <%=@work.creator %>
  </p>
  <p>
    Published: <%=@work.publication_year %>
  </p>
  <p>
    <%=@work.description %>
  </p>
  <p>
    <%= link_to "This links wrong", works_path%>
    <%= link_to "Edit", edit_work_path%>
    <%= link_to "Delete", work_path,
    data: {method: :delete, confirm: "Are you sure you want to delete this work from the list?"}%>
  </p>

</section>

<section>
  <h1>
    ?? Votes for this movie
  </h1>
  <p>
    Vote info table goes here
  </p>
</section>
