<h2><%= @work.title %></h2>
<h3>Created by: <%= @work.creator %></h3>
<h3>Published: <%= @work.publication_year %></h3>

<% if @work.category == "album" %>
  <button><%= link_to "Back to album list", albums_path %></button>
<% elsif @work.category == "book" %>
  <button><%= link_to "Back to book list", books_path %></button>
<% elsif @work.category == "movie"%>
  <button><%= link_to "Back to movie list", movies_path %></button>
<% end %>
<button>Edit</button>
<button>Upvote</button>
<button>Delete</button>

<%= render partial: "votes/vote_for_media", locals: { work: @work } %>
