<h1><%=@selected_work.category %>: <%=@selected_work.title %></h1>
<p>Created by: <%= @selected_work.creator %></p>
<p>Publication year: <%= @selected_work.year %></p>
<p>Description: <%= @selected_work.description %></p>

<h4><%= link_to "Back to #{@selected_work.category} list", category_path(@selected_work.category) %></h4>
<h4><%= link_to "Edit", edit_work_path %></h4>
<h4><%= link_to "Upvote", upvote_path(@selected_work.id), method: :post %></h4>
<h4><%= link_to "Delete", work_path(@selected_work.id), data: { confirm: "Are you sure you want to delete this #{@selected_work.category}"}, method: :delete %></h4>
