<h1><%= @result_work.title %></h1>
<p>
  Created by: <%= @result_work.creator %>
</p>
<p>
  Published: <%= @result_work.publication_year %>
</p>
<p>
  <%= @result_work.description %>
</p>
<p>
  <%= @result_work.category %>
</p>
<p>
  <%= @result_work.vote_count %>
</p>

<% if @result_work.category == "book" %>
<%= link_to "Back to book list", books_path %>
<% elsif @result_work.category == "album" %>
<%= link_to "Back to album list", albums_path %>
<% elsif @result_work.category == "movie" %>
<%= link_to "Back to movie list", movies_path %>
<% end %>

<%= link_to "Edit", edit_work_path %>
<%= link_to "Upvote", upvote_path, method: :post %>
<%= link_to "Delete", work_path(@result_work.id), data: { confirm: "Are you sure you want to delete this work?" }, method: :delete %>


<h2><%= @result_work.vote_count %> votes for this <%= @result_work.category %>!</h2>
<table>
  <tr>
    <th>User</th>
    <th>Date</th>
  </tr>
<% if @work_votes != nil %>
<% @work_votes.each do |vote| %>
  <tr>
    <td><%= link_to vote.user.name, user_path(vote.user.id) %></td>
    <td><%= vote.created_at %></td>
  </tr>
  <% end %>
  <% end %>
</table>
