<article class='columns large-6 small-12'>
  <h3><%= @work.title %></h3>
  <p>Created by: <%= @work.by %></p>
  <p>Published: <%= @work.year %></p>
  <p><%= @work.description %></p>
  <section>
    <%= link_to "Back to #{@work.media_type} list", "/#{@work.media_type}s", class: 'button'%>
    <!-- <a class='button'>Back to <%= @work.media_type %> list</a> -->
    <%= link_to 'Edit', edit_work_path, class: 'button'%>
    <a class='button'>Upvote</a>
    <%= link_to 'Delete', work_path, class: 'alert button', method: :delete, data: { confirm: "Are you sure?" } %>
  </section>
</article>

<article class='columns large-6 small-12'>
  <h3>TODO Votes for this <%= @work.media_type.capitalize %></h3>
  <table>
    <thead>
      <tr>
        <th>User</th>
        <th>Date</th>
      </tr>
    </thead>
    <tbody>
    <!-- TODO each loop for votes -->
      <tr>
        <td>TODO username link</td>
        <td>TODO vote date</td>
      </tr>
    </tbody>
  </table>
</article>
