<h1><%= @result_work.title %></h1>
<p>
  Created by: <%= @result_work.creator %>
</p>
<p>
  Published: <%= @result_work.publication_year %>
</p>
<p>
  <%= @result_work.description %>
</p>
<p>
  <%= @result_work.category %>
</p>

<% if @result_work.category == "book" %>
<%= link_to "Back to book list", books_path %>
<% elsif @result_work.category == "album" %>
<%= link_to "Back to album list", albums_path %>
<% elsif @result_work.category == "movie" %>
<%= link_to "Back to movie list", movies_path %>
<% end %>

<%= link_to "Edit", edit_work_path %>
