<header>
  <%= render "shared/header" %>
</header>

<main>
  <section>
  <h1> <%= @work.title %> </h1>
    <ul>
      <li><%= @work.creator %></li>
      <li><%= @work.publication_year %></li>
      <li><%= @work.description %></li>
    </ul>
  </section>

  <nav>
    <% route = find_path(@work) %>

    <%= link_to "Back to #{@work.category}s", route %>
    <%= link_to "Edit", edit_work_path %>
    <%= link_to "Upvote"%>
    <%= link_to "Delete", work_path(@work), method: :delete, data: { confirm: "Are you sure you want to delete #{@work.title}?" } %>
  </nav>
</main>
