<main class="row">

  <article class="media-details columns large-6 small-12">


    <h3><%= @work.title %></h3>


    <p>Created by: <%= @work.created_by %></p>
    <p>Published <%= @work.year_published %></p>
    <p><%= @work.description %></p>
    <section>

      <%= button_to "Back to #{@work.category.capitalize} List", category_path(@work.category.pluralize), method: :get, class: "button" %>

      <%= button_to "Edit",edit_work_path(@work.id), method: :get, class: "button" %>

      <%= button_to "Upvote",upvote_path(@work.id), method: :post, class: "button" %>


      <%= button_to "Delete", work_path(@work.id), method: :delete, class: "alert button", data: {confirm: "Are you sure you want to delete this work?"} %>
    </section>

  </article>
  <article class="voting-users columns large-6 small-12">



    <% @votes =   Vote.where(work_id: @work.id) %>

    <h3><%= @votes.count %>  Votes for this <%= @work.category %></h3>

    <table>
      <thead>
        <tr>
          <th>
            User
          </th>
          <th>
            Date
          </th>
        </tr>
      </thead>
      <tbody>
        <% @votes.each do |vote| %>
        <tr>
          <td>
            <%= link_to User.find(vote.user_id).name, user_path(vote.user_id) %>
          </td>
          <td>
            <%= vote.created_at.strftime("%b %d, %Y") %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </article>
</main>
