<article class="media-details columns large-6 small-12">
  <h3> <%= @work.name %> </h3>
  <p>
    Created by: <%= @work.created_by %>
  </p>
  <p>
    Published in: <%= @work.pub_year %>
  </p>
  <p>
    Description: <%= @work.desc %>
  </p>

  <section>
      <%= link_to "Back to list", :back, class: "button" %>
      <%= button_to "Edit", edit_work_path, class: "button", method: :get %>
    <%= link_to "Upvote", upvote_path, class: "button" %>
      <%= button_to "Delete Work", work_path(@work.id), method: :delete, class: "alert button", data: { confirm: "Do you really want to delete this work? Such ingenuity and passion went into making it!" } %>
  </section>

  <article class="voting-users columns large-6 small-12">
    <h3>X Votes</h3>
    <table>
      <thead>
        <th>User</th>
        <th>Date</th>
      </thead>
      <tbody>
        <tr>
          <td>
            Username
          </td>
          <td>
            Date voted
          </td>
        </tr>
      </tbody>
    </table>
  </article>
</article>
