<section id="show-data">
  <h2><%= @result_work.title %></h2>
  <p>Created by: <%= @result_work.creator %></p>
  <p>Published: <%= @result_work.year %></p>
  <p><%= @result_work.description %></p>
</section>

<section id="show-votes">
  <h2><%= @result_work.votes.length %> votes for this <%= @result_work.category.capitalize %></h2>
  <table>
    <tr>
      <th>User</th>
      <th>Date</th>
    </tr>
    <!-- for each vote do -->
    <tr>
      <td>(link to username)</td>
      <td>(date vote added)</td>
    </tr>
    <!-- end -->
  </table>
</section>

<p>(link to category list)</p>
<%= link_to "Edit", edit_work_path(@result_work.id) %>
<p>(upvote)</p>
<%= link_to "Delete", work_path(@result_work.id),
data: { confirm: "Are you sure you want to delete this?" },
method: :delete %>
