<section>

  <h3><%= @work.title %></h3>

  <% if @work.creator %>
    <p>Created by: <%= @work.creator %></p>
  <% end %>

  <% if @work.year_published %>
    <p>Published: <%= @work.year_published %></p>
  <% end %>

  <% if @work.description %>
    <p><%= @work.description %></p>
  <% end %>
</section>

<p>
  <%= link_to "Back to #{@work.category} list", category_path(@work.category.pluralize) %>
  [edit]
  <%= link_to "Upvote", upvote_path(@work.id), method: :patch %>
  [delete]
</p>

<section>
  <h3><%= @work.votes.count %> Votes for this <%= @work.category.capitalize %></h3>
</section>
