<h3>List of <%= params[:category].pluralize.capitalize %></h3>
<table class="media-table">
  <thead>
    <tr>
      <th width="80">Votes</th>
      <th>Title</th>
      <th>Created By</th>
      <th width="100">Published</th>
      <th width="100">Upvote</th>
    </tr>
  </thead>
  <tbody>
    <% @works.each do |work| %>
      <tr>
        <td>
          <%= work.votes.size %>
        </td>
        <td>
          <%= link_to work.title, work_path(work.id) %>
        </td>
        <td>
          <%= work.creator %>
        </td>
        <td>
          <%= work.year_published %>
        </td>
        <td>
          <%= link_to "Upvote", upvote_path(work.id), method: :patch, class: "button" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "View All Media", root_path, class: "button" %>
<%= link_to "Add New " + params[:category].singularize.capitalize, new_work_path, class: "button" %>
