<h2>List of <%= @category.pluralize(2) %></h2>
  <% @category_works.each do |work| %>
  <ul>
  <p>////////////////////////////////</p>
  <%= work.votes.count %>
  <%= link_to work.title, work_path(work.id) %>
  <%= work.creator %>
  <%= work.year %>
  <%= link_to "Upvote", upvote_path(work.id), method: :post %>
  </ul>
<% end %>

<h3><%= link_to "View all Media", works_path %></h3>
<h3><%= link_to "Add new #{@category.singularize}", new_with_category_path(@category) %></h3>
