<main>
  <article>
    <h3>Title: <%=@work.title%></h3>
    <p>Created by: <%=@work.creator%></p>
    <p>Published: <%=@work.publication_year%></p>
    <p>Description: <%=@work.description%></p>

    <p>Total votes: <%=@work.votes.length%></p>
    <%if session[:user_id]%>
      <p>User: <%=@user.username%></p>
    <%end%>
    <p>User's total votes: <%=@user.votes.length%></p>

  </article>
  <section id = "buttons">
    <% if @work.category == "movie"%>
    <%= button_to 'Back to movie list', movies_path, method: :get %>
    <% elsif @work.category == "book"%>
    <%= button_to 'Back to book list', books_path, method: :get %>
    <% elsif @work.category == "album"%>
    <%= button_to 'Back to album list', albums_path, method: :get %>
    <%end%>
    <%= button_to 'Edit', edit_work_path, method: :get %>

    <%= button_to 'Upvote', upvote_path(@work) , method: :post %>

    <%= button_to 'Delete', work_path(@work.id), method: :delete, data: {confirm: 'Are you sure?' } %>
  </section>
  <article>
    <h3>Total votes for this <%=@work.category%>:</h3>
    <table> Table with user (user name and date) votes goes here
    </table>
  </article>
</main>
