<article class="media-details columns large-6 small-12">

  <div class="vote-box">
    <%= link_to image_tag("upvote.png", class: "vote-arrow"), vote_path(@work.id, 1), method: :patch %>
    <br /><%= @work.vote_total %><br />
    <%= link_to image_tag("downvote.png", class: "vote-arrow"), vote_path(@work.id, -1), method: :patch %>
  </div>

  <h3><%= @work.title %></h3>
  <p>Created by: <%= @work.creator %></p>
  <p>Published: <%= @work.publication_year %></p>
  <p><%= @work.description %></p>

  <section>
    <%= link_to "Back to #{@work.category} list", works_path(@work.category), class: "button" %>
    <%= link_to "Edit", edit_work_path(@work.id), class: "button" %>
    <%= link_to "Delete", delete_work_path(@work.id), method: :delete, data: {confirm: "Are you sure you want to delete #{@work.title}?"}, class: "alert button" %>
  </section>
</article>

<article class="voting-users columns large-6 small-12">
  <h3><%= @work.vote_total %> Votes for this <%= @work.category.capitalize %></h3>
  <% unless @work.votes.empty? %>
    <table>
      <thead>
        <tr>
          <th>User</th>
          <th>Vote</th>
          <th>Date</th>
        </tr>
      </thead>
      <tbody>
        <% @work.votes.each do |vote| %>
          <tr>
            <td><%= link_to vote.user.username, user_path(vote.user) %></td>
            <td><%= vote.value == 1 ? "Upvote" : "Downvote" %></td>
            <td><%= vote.created_at.strftime('%b %e, %Y') %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
</article>
