<section>
  <% if @vote %>
    <% @vote.errors.each do |field, msg| %>
      <li>
        <%= field %> <%= msg %>
      </li>
    <% end %>
  <% end %>
</ul>
  <h3><%= @work.title %></h3>

  <% if @work.creator %>
    <p>Created by: <%= @work.creator %></p>
  <% end %>

  <% if @work.year_published %>
    <p>Published: <%= @work.year_published %></p>
  <% end %>

  <% if @work.description %>
    <p><%= @work.description %></p>
  <% end %>
</section>

<p>
  <%= link_to "Back to #{@work.category} list", category_path(@work.category.pluralize) %>
  <%= link_to "Edit", edit_work_path(@work.id) %>
  <%= link_to "Upvote", upvote_path(@work.id), method: :patch %>
  <%=
    link_to "Delete", work_path(@work.id),
    data: { confirm: "Are you sure you want to delete this #{@work.category}?" },
    method: :delete
  %>
</p>

<section>
  <h3><%= pluralize(@work.votes_count, "Vote") %> for this <%= @work.category.capitalize %></h3>
  <table>
    <thead>
      <tr>
        <th>User</th>
        <th>Date</th>
      </tr>
    </thead>
    <tbody>
      <% @work.votes.each do |vote| %>
        <tr>
          <td><%= link_to vote.user.username, user_path(vote.user.id) %></td>
          <td><%= vote.created_at %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</section>
