<main>
  <article>
    <h3>Title: <%=@work.title%></h3>
    <p>Created by: <%=@work.creator%></p>
    <p>Published: <%=@work.publication_year%></p>
    <p>Description: <%=@work.description%></p>
  </article>
  <section id = "buttons">

  </section>
  <article>
    <h3>Total votes for this <%=@work.category%>:</h3>
    <table> Table with votes goes here
    </table>
  </article>
</main>
