<h4><%= @work[:title] %> <br>
     Created By: <%= @work[:creator] %> <br>
     Published: <%= @work[:publication_year] %> <br>
     Description: <%= @work[:description] %> <br>
     Votes: <%= @work.votes.count %>
     <br>
     <%= link_to "Vote", vote_work_path, :class => "button", method: :post %>
     <%= link_to "Back to List", root_path, :class => "button" %>
     <%= link_to "Edit", edit_work_path, :class => "button" %>
</h4>
