<main class = "row">
<article id = "show"  class= "top-ten columns large-7 medium-4 small-12">
<!--  Display item details -->
<h2> <%=@work.title%></h2>
<br>
Created By:<%= @work.created_by%>
<br>
Published:<%= @work.published%>
<br>
<%=@work.description%>

<!-- Vote Link -->
<%if session[:user_id]%>
<em class= "button"> <%= link_to " Upvote ", vote_path(@work.id), method: :post%></em>
<%end%>


 <!--  Add Media -->

<em class= "button">
<%= link_to "Add new media", new_work_path%> </em>


<!-- Edit Link -->
<em class= "button"><%= link_to "Edit #{@work.category.capitalize}", edit_work_path%></em>

<!-- Destroy Link -->
<em class= "button" id= "destroy"> <%= link_to "Delete #{@work.category.capitalize}", works_path(@work.id), method: :delete, data:{confirm: "Are you sure?"} %></em>


<!-- Logic to display appropriate "back to" for each category  -->

<br>
<% case @work.category%>
  <% when "book" %>
 <em class= "button"><%= link_to "Back to #{@work.category.capitalize}s", books_path%></em>
 <% when "album" %>
   <em class= "button"><%= link_to "Back to #{@work.category.capitalize}s", albums_path%></em>
 <% when "movie" %>
  <em class= "button"><%= link_to "Back to #{@work.category.capitalize}s", movies_path%></em
  <%end%>


</article>
<!--  Display each vote for displayed item-->
<article id = "vote_display" class= "top-ten columns large-4 medium-4 small-12">
  <h3><%=@work.votes.length%> Votes for this <%=@work.category.capitalize%></h3>
  <table >
    <%counter = 0 %>
  <%@votes.each do |vote|%>
    <tr>
      <td> <%=link_to "#{User.find_by(id:vote.user_id).username}", user_path(@work.votes[counter].user_id)%> </td>
      <td> <%=vote.created_at.to_date%> </td>
      <%counter += 1 %>
    </tr>
  <%end%>
</table>
</article>
</main>
