<h4><%= @work[:title] %> <br>
  Created By: <%= @work[:creator] %> <br>
  Published: <%= @work[:publication_year] %> <br>
  Description <%= @work[:description] %> <br>

  <%= link_to "Back to list", root_path, :class => "button" %>
</h4>
