<h2> <%= "Title: #{@work.title}" %></h2>

<ul>
  <li>
    <%= "Created By: #{@work.creator}" %>
    <%= "Published: #{@work.pub_date}" %>
  </li>
</ul>

<%= button_to "Edit", edit_work_path, method: :get %>
<%= button_to "Upvote", edit_work_path, method: :get %>
