
<p>Category: <%=@work.category%></p>
<p>Title: <%=@work.title%></p>
<p>Creator: <%=@work.creator%></p>
<p>Publication year: <%=@work.publication_year%></p>
<p>Description: <%=@work.description%></p>
