<h1>List of <%= params[:category].pluralize %></h1>

<!-- <table>
  <tr>
    <th>Votes</th>
    <th>Title</th>
    <th>Created By</th>
    <th>Published</th>
    <th>Upvote</th>
  </tr>
  <% @category_works.each do |work| %>
  <tr>
    <td> Nope </td>
    <td> <%= work.title %> </td>
    <td> <%= work.creator %> </td>
    <td> <%= work.publication_year %> </td>
    <td> Yep </td>
  </tr>
  <% end %>
</table> -->

<%= @category_works %>
