<article class="columns large-8 small-12">
  <section>

    <h3> List of Movies </h3>

    <table>
      <thead>
        <tr>
          <th>Votes</th>
          <th>Title</th>
          <th>Created By</th>
          <th>published</th>
          <th>Upvote</th>
        </tr>
      </thead>
      <tbody>
        <% @movies.each do |work| %>
        <tr>
          <td><%= work.votes.count %></td>
          <td><%= link_to work.title, work_path(work.id) %></td>
          <td><%= work.created_by %></td>
          <td><%= work.published_year %></td>
          <td><% if session[:user_id] %>
          <%= link_to "Upvote", vote_path(work.id),
          method: :post, class: "button" %>
          <% end %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </section>

</article>

<%= link_to "Add a new Book", new_movie_path, method: :get, class: "button" %>
<%= link_to "Back to all lists", root_path, method: :get, class: "button" %>
