<ul>
<li><h2><%= @work.title %></h2></li>
<li>Created by: <%= @work.creator %></li>
<li>Published by: <%= @work.publication_year %></li>
</ul>

<div class = "button"><%= link_to "Back to #{@work.category} list", list_works_path(@work.category+"s") %></div>
<div class = "button"><%= link_to "Upvote", vote_path, method: :post %></div>
