<h2><%= @work.title %></h2>
<h3><%= @work.created_by %></h3>
<h3><%= @work.publication_year %></h3>
<p><%= @work.description %></p>

<%= link_to "Edit", edit_work_path(@work.id) %>
<%= link_to "Delete", work_path(@work.id), method: :delete,
    data: {confirm: "Are you sure"} %>
<%= link_to "Back to #{@work.category.capitalize} list", works_path(@work.category.pluralize) %>

<% if session[:user_id] %>
<%= link_to "vote for this", vote_path(@work.id), method: :post %>
<% end %>

<section>
  <h3> User Votes </h3>
<% @work.users.each do |user| %>
<%= link_to user.name, user_path(user.id) %>
<% end %>
</section>
