<h1><%= @work.title%></h1>

<div>Created by: <%= @work.creator %></div>
<div>Published: <%= @work.published_year%></div>
<div>Description: <%= @work.description%></div>

<%= link_to "View All Media", home_path %>
