<h2>User Summary: <%= @result_user.name %></h2>
<p>Joined site <%= @result_user.created_at.strftime("%b %d, %Y") %></p>

<h3>Votes</h3>
<table>
  <tr>
    <th>Media Title</th>
    <th>Created By</th>
    <th>Published</th>
    <th>Category</th>
    <th>Voted On</th>
  </tr>
  <% @result_user.votes.each do | vote | %>
  <tr>
    <th><%= vote.title %></th>
    <th><%= vote.creator %></th>
    <th><%= vote.year %></th>
    <th><%= vote.category %></th>
    <th><%= vote.created_on %></th>
  </tr>
  <% end %>
</table>
<%= link_to "See all users", users_path %>
<%= link_to "Back to media list", root_path %>
