<h1><%= @user.name%>'s Profile</h1>

User Since: <%= @user.created_at %>

<%= @user.name%>'s Votes:
<ul>
  <% @user.works.each do |work| %>
  <li> <%= work.title %> by <%=work.creator%></li>
    <%end%>
</ul>

<%= link_to 'All Users', users_path %>
<%= link_to "View All Media", home_path %>
