<h1> Name: <%= @user.name %> </h1>
<h2> ID: <%= @user.id %> </h2>
<h2> Created on: <%= @user.created_at.strftime("%b %d, %Y") %> </h2>
<h2> Last updating: <%= @user.updated_at.strftime("%b %d, %Y") %> </h2>

<%= link_to "Back to all the users", users_path %>
<%= link_to "See all the media", root_path %>
