<h1>User's Page</h1>

User Summary: <%= @user.name %></br>
Joined Site: <%= @user.created_at.strftime("%b %d, %Y") %></br>
<%= @user.votes.count %>Votes</br>

<table>
  <th>
    Media Title
  </th>
  <th>
    Created By
  </th>
  <th>
    Published
  </th>
  <th>
    Category
  </th>
  <th>
    Voted On
  </th>

  <% @user.votes.each do |vote| %>
    <% work = Work.find(vote.work_id) %>
    <tr>
      <td>
        <%= work.title %>
      </td>
      <td>
        <%= work.creator %>
      </td>
      <td>
        <%= work.publication_year %>
      </td>
      <td>
        <%= work.category %>
      </td>
      <td>
        <%= vote.created_at.strftime("%b %d, %Y") %>
      </td>
    </tr>
    <% end %>
</table>
