<h1><%= @user.name %></h1>
<h3>Joined Site <%= @user.created_at %></h3>

<section>
<h2>Votes</h2>
<% @user.works.each do |work| %>
<%= work.title %>
<%= work.created_by %>
<%= work.publication_year %>
<%= work.category %>
<%= work.votes.find_by(@user_id).created_at %>
<% end %>
</section>
