<body>
  <section>
    <h3> User Summary: <%= @user.username %> </h3>
    Joined site <%= @user.created_at.strftime("%b %d,   %Y") %>
  </section>
  <br>
  <section>
    <h4> Votes </h4>
    <table>
      <tr>
        <th>Media Title</th>
        <th>Created By</th>
        <th>Published</th>
        <th>Category</th>
        <th>Voted On</th>
      </tr>

      <% votes = Vote.where(user_id: @user.id) %>
      <% votes.each do |vote| %>
        <% work = Work.find_by(id: vote.work_id)%></td>
        <tr>
          <td><%= work.title %></td>
          <td><%= work.creator %></td>
          <td><%= work.publication_year %></td>
          <td><%= work.category %></td>
          <td><%= vote.created_at.strftime("%b %d,   %Y") %></td>
        </tr>
      <% end %>
    </table>
  </section>
</body>
