<h1> User summary: <%= link_to "#{@user[:username]}" %></h1>
<h2> Joined site <%= @user.created_at %></h2>
<h3> Votes </h3>
<table style="width:100%">
  <tr>
    <th>Media Title</th>
    <th>Created By</th>
    <th>Published</th>
    <th>Category</th>
    <th>Voted On</th>
  </tr>
  <% @user.votes.each do |vote| %>
    <tr>
      <td><%= link_to "#{user.username}", user_path(user.id) %></td>
      <td><%= user.votes.count %></td>
      <td><%= user.created_at %></td>
    </tr>
  <% end %>
</table>
<%= link_to 'Back to homepage', root_path %>
