<main>
  <section>
    <h3>User Summary: <%= link_to @user.username, user_path(@user.id) %></h3>
    <p> Joined site: <%= @user.created_at.strftime("%m %d %Y") %></p>
  </section>

  <section>
    <table>

      <thead>
        <tr>
          <th>Media Title</th>
          <th>Created By</th>
          <th>Published</th>
          <th>Category</th>
          <th>Voted On</th>
        </tr>
      </thead>

      <tbody>
        <% @user.votes.each do |vote| %>
          <% work = find_work(vote) %>
          <tr>
            <th><%= link_to vote.work_id, work_path(vote.work_id) %></th>
            <th><%= %></th>
            <th><%= %></th>
          </tr>
        <% end %>
      </tbody>
    </table>
  </section>
  <nav>
    <%= button_to "All Users", users_path, :class => "button", :method => :get %>
    <%= button_to "Back to All Media", homepage_path, :class => "button", :method => :get %>
  </nav>
</main>
