<main class="row">


<h2>User Summary: <%= link_to @show_user.name, user_path(session[:user_id]) %> </h2>
<p>Joined site: <%= @show_user.created_at.strftime("%b %d, %Y") %></p>


<h4>Votes</h4>
<table>
  <thead>
    <tr>
      <th>Media Title</th>
      <th>Created By</th>
      <th>Published</th>
      <th>Voted On</th>
    </tr>
  </thead>
  <tbody>
    <% @user_votes.each do |vote| %>
      <tr>
        <td><%= link_to vote.work.title, work_path(vote.work_id) %></td>
        <td><%= vote.work.creator %></td>
        <td><%= vote.work.year %></td>
        <td><%= vote.work.category %></td>
        <td><%= vote.created_at.strftime("%b %d, %Y") %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<p><%= link_to "See all Users", users_path, class: "button" %></p>
<p><%= link_to "Back to Medial List", works_path, class: "button" %></p>
</main>
