<h3>User Summary: <%= User.find_by_id(params[:id]).name %></h3>
<p>
  Joined site <%= User.find_by_id(params[:id]).created_at.strftime("%B %d, %Y") %>
</p>

<h3><%= link_to "See All Users", users_path %></h3>

<table>
  <thead>
    <tr>
      <th>
        Media Title
      </th>
      <th>
        Created By
      </th>
      <th>
        Published
      </th>
      <th>
        category
      </th>
      <th>
        Voted On
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <% User.find_by_id(params[:id]).votes.each do |vote| %>
      <th>
          <%= link_to Work.find_by_id(vote.work_id).title, work_path(vote.work_id) %>
      </th>
      <th>
          <%= Work.find_by_id(vote.work_id).creator %>
      </th>
      <th>
          <%= Work.find_by_id(vote.work_id).publication_year %>
      </th>
      <th>
          <%= Work.find_by_id(vote.work_id).category %>
      </th>
      <th>
          <%= Work.find_by_id(vote.work_id).created_at.strftime("%B %d, %Y") %>
      </th>
    </tr>
    <% end %>

  </tbody>
</table>
