<h1>User Summary: <%= link_to @user.name, user_path(@user.id) %></h1>

<h3>Joined site <%= @user.created_at %></h3>

<h2>Votes</h2>
<table>
  <tr>
    <th>Media Title</th>
    <th>Created By</th>
    <th>Published</th>
    <th>Category</th>
    <th>Voted On</th>
  </tr>
  <% @user.votes.each do |vote| %>
  <tr>
    <td> <%=  %> </td>
    <td> <%= %> </td>
    <td> <%=  %> </td>
    <td> <%=  %> </td>
    <td> <%=  %> </td>
  </tr>
  <% end %>
</table>

See all users
<%= link_to 'Back to media list', root_path %>
