<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>



<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>


<p id="notice"><%= notice %></p>



<p>
  <strong>Title:</strong>
  <%= @user[:title] %>
</p>

<p>
  <strong>Creator:</strong>
  <%= @work[:creator] %>
</p>

<p>
  <strong>Publication Year:</strong>
<%= @work[:publication_year] %>
</p>

<p>
  <strong>Category:</strong>
  <%= @user[:category] %>
</p>

<p>
  <strong>Voted On:</strong>
  <%= @work[:timestamp] %>
</p>




<%= link_to 'Edit', edit_work_path(@work) %> |
<%= link_to 'Back', works_path %>
