<h1> Welcome to MediaRanker </h1>

<%= link_to "Add a New Media", new_work_path%>
<%= link_to "New User", new_user_path%>

    <section class='albums'>
      <h2> Top Albums </h2>
      <% @albums.each do |album| %>
      <div><%= link_to "#{album.title} by #{album.creator}", work_path(album.id)%></div>
      <%end%>
      <%= link_to "All Albums", albums_path%>
    </section>

    <section class='books'>
      <h2> Top Books </h2>
      <% @books.each do |book| %>
      <div><%= link_to "#{book.title} by #{book.creator}", work_path(book.id)%></div>
      <%end%>
      <%= link_to "All Books", books_path%>
    </section>

    <section class='movies'>
      <h2> Top Movies </h2>
      <% @movies.each do |movie| %>
      <div><%= link_to "#{movie.title} by #{movie.creator}", work_path(movie.id)%></div>
      <%end%>
      <%= link_to "All Movies", movies_path%>
    </section>
