<h1>Welcome#index</h1>
<section id = "welcome_movies">
  <h1> Top Movies</h1>
  <%@movies.each do |movie|%>
    <p>
      <%= movie.title%> by <%= movie.creator%>
    </p>
  <% end %>



</section>

<section id = "welcome_books">
  <h1> Top Books</h1>
  <%@books.each do |book|%>
    <p>
      <%= book.title%> by <%= book.creator%>
    </p>
  <% end %>


</section>

<section id = "welcome_albums">
  <h1> Top Albums</h1>
  <%@albums.each do |album|%>
    <p>
      <%= album.title%> by <%= album.creator%>
    </p>
  <% end %>

  <%= link_to "View more albums", albums_path%>

</section>
