<h2> Main Page Only </h2>

<%= button_to "Add New", new_work_path, method: :get %>
<section>
  <br>
<h3> Albums </h3>
<ul>
  <% @albums.each do |work| %>
  <li>
    <%= link_to "Title: #{work.title}", work_path(work.id) %>
    <%= "Created By: #{work.creator}" %>
    <%= "Published: #{work.pub_date}" %>
  </li>
  <% end %>
</ul>
<%= link_to "See More Albums", albums_path %>
</section>

<section>
  <br>
<h3> Books </h3>
<ul>
  <% @books.each do |work| %>
  <li>
    <%= link_to "Title: #{work.title}", work_path(work.id) %>
    <%= "Created By: #{work.creator}" %>
    <%= "Published: #{work.pub_date}" %>
  </li>
  <% end %>
</ul>
<%= link_to "See More Books", books_path %>
</section>

<section>
  <br>
<h3> Movies </h3>
<ul>
  <% @movies.each do |work| %>
  <li>
    <%= link_to "Title: #{work.title}", work_path(work.id) %>
    <%= "Created By: #{work.creator}" %>
    <%= "Published: #{work.pub_date}" %>
  </li>
  <% end %>
</ul>
<%= link_to "See More Movies", movies_path %>
</section>
