<section class="welcome-nav">
<!-- <p id="notice"><%= notice %></p> -->

<div class="container">

<div class="column column-one">
  <img src="https://unsplash.it/300/400" alt="W3Schools.com" >
<div class="info">
  <div class="category">Albums</div>
    <% @albums.each do |work|%>
    <p>
      <%= work[:title] %>
      <%= work[:creator] %>
    </p>

      <%end%>
    </div>
  </div>




<div class="column column-two">


  <img src="https://unsplash.it/300/400" alt="W3Schools.com" >
  <span class="info">
    <div class="category"> Movies</div>
    <% @movies.each do |work|%>

  <p>
    <%= work[:title] %>
    <%= work[:creator] %>
  </p>

  <%end%>
  </span>
</div>



<div class="column column-three">
  <img src="https://unsplash.it/300/400" alt="W3Schools.com" >
  <span class="info">
    <div class="category">Books</h1></div>
  <% @books.each do |work|%>

  <p>
    <%= work[:title] %>
    <%= work[:creator] %>
  </p>
  <%end%>
  </span>

</div>



</div>
</section>


<!-- <%= link_to 'New Work', new_work_path %> -->
