<!-- <p id="notice"><%#= notice %></p> -->
<link rel="stylesheet" href="app/assets/stylesheets/primary.css.scss" type="text/css">


<div class="bg-img">
<header class="yay">
  <div class="gradiant">




    <div class="type-word"></div>

    <a class="link-contact w-inline-block" href="http://google.com">
  <div class="link-wavy">login to start ranking the best of everything</div>
</a>





<section id="works_columns">

<div class="container">

<div class="column column-one">
<div class="info">
  <img src="https://unsplash.it/300/300" alt="W3Schools.com">
  <!-- <div class="category">Albums</div> -->
    <% @albums.each do |work|%>
    <p>
      <%= work[:title] %>
      <%= work[:creator] %>
    </p>
      <%end%>
    </div>
  </div>




<div class="column column-two">
<div class="info">
  <img src="https://unsplash.it/300/300" alt="W3Schools.com">
    <!-- <div class="category">Movies</div> -->
    <% @movies.each do |work|%>
  <p>
    <%= work[:title] %>
    <%= work[:creator] %>
  </p>
  <%end%>
</div>
</div>




<div class="column column-three">
  <div class="info">
  <img src="https://unsplash.it/300/300" alt="W3Schools.com">
    <!-- <div class="category">Books</div> -->
  <% @books.each do |work|%>
  <p>
    <%= work[:title] %>
    <%= work[:creator] %>
  </p>
  <%end%>
</div>
</div>

</div>
</section>



</div>
</header>
</div>

<!-- <%= link_to 'New Work', new_work_path %> -->
