

<div> Spotlight goes here</div>
<section>
  <h2> Top albums: </h2>
  <ul>
    <%@top_albums.each do |item|%>
    <%= render partial: 'work_summary', locals:{item:item}%>
    <%end%>
  </ul>
  <%=link_to "View more albums", albums_path %>
</section>
<section>
  <h2> Top books: </h2>
  <ul>
    <%@top_books.each do |item|%>
    <%= render partial: 'work_summary', locals:{item:item}%>
    <%end%>
  </ul>
  <%=link_to "View more books", books_path %>

</section>
<section>
  <h2> Top movies: </h2>
  <ul>
    <%@top_movies.each do |item|%>
    <%= render partial: 'work_summary', locals:{item:item}%>
    <%end%>
  </ul>
  <%=link_to "View more movies", movies_path %>
</section>
