<h2> Main Page Only </h2>

<%= button_to "Add New", new_work_path, method: :get %>

<h3> Albums </h3>
<ul>
  <% @albums.each do |album| %>
  <li>
    <%= link_to "Title: #{album.title}", album_path(album.id) %>
    <%= "Created By: #{album.creator}" %>
    <%= "Published: #{album.pub_date}" %>
  </li>
  <% end %>
</ul>

<h3> Books </h3>
<ul>
  <% @books.each do |book| %>
  <li>
    <%= link_to "Title: #{book.title}", book_path(book.id) %>
    <%= "Created By: #{book.creator}" %>
    <%= "Published: #{book.pub_date}" %>
  </li>
  <% end %>
</ul>

<h3> Movies </h3>
<ul>
  <% @movies.each do |movie| %>
  <li>
    <%= link_to "Title: #{movie.title}", movie_path(movie.id) %>
    <%= "Created By: #{movie.creator}" %>
    <%= "Published: #{movie.pub_date}" %>
  </li>
  <% end %>
</ul>
