<% @submission.errors.each do |field, msg | %>
     <li>
     <h6> <%= field %> <%= msg %> </h6>
     </l1>
<% end %>


<%=form_for @submission, method: form_method do | f | %>

     <%= f.label :title, class: 'hidden' %>
     <%= f.text_field :title, placeholder: 'Title of Submission' %>

     <%= f.label :author, class: 'hidden'  %>
     <%= f.text_field :author, placeholder: 'Author of Submission' %>

     <%= f.label :publish_date, class: 'hidden'  %>
     <%= f.text_field :publish_date, placeholder: 'Year' %>

     <%= f.label :summary, class: 'hidden'  %>
     <%= f.text_area :summary, placeholder: 'Brief Description' %>

     <%= f.hidden_field :category, value: category %>

     <%= f.submit submit_text %>

<% end %>
