<h1>List of Books</h1>
<table>
  <thead>
    <tr>
      <th>Votes</th>
      <th>Title</th>
      <th>Creator</th>
      <th>Published</th>
    </tr>
  </thead>
<% @books.each do |b| %>
<tbody>
  <td>
    <%= b.votes.length %>
  </td>
  <td>
    <%=link_to b.title, book_path(b.id) %>
  </td>
  <td>
    <%= b.creator %>
  </td>
  <td>
    <%= b.publication_year %>
  </td>
  <td>
    <%= link_to "Upvote", book_vote_path(b.id), :method => :post, class: "button" %>
  </td>
</tbody>

<% end %>
</table>

<%= link_to "View all media", root_path %><%= link_to "Make New Book", new_book_path %>
