<h1>Add a Book</h1>

<%= form_for Work.new do |f| %>
<%= f.hidden_field :category, :value => "book" %>

 <%= f.label :title %>
 <%= f.text_field :title %>
 <%= f.label :creator %>
 <%= f.text_field :creator %>
 <%= f.label :publication_year %>
 <%= f.number_field :publication_year %>
 <%= f.label :description %>
 <%= f.text_area :description %>

 <%= f.submit %>

 <% end %>
