<h1>Book Details</h1>

<ul>
  <li>Category: <%= @work.category %></li>
  <li>Title: <%= @work.title %></li>
  <li>Creator: <%= @work.creator %></li>
  <li>Year: <%= @work.year %></li>
  <li>Description: <%= @work.description %></li>
</ul>

  <h3> <%= link_to "Home", works_path %></h3>
  <h3> <%= link_to "All Books", books_path %></h3>
