
<section class="show columns large-6 small-12">
<h3><%= @book.title %></h3>
<p>Created by: <%= @book.creator %></p>
<p>Published: <%= @book.publication_year %></p>

<%= link_to "Back to book list", books_path, class: "button" %>
<%= link_to "Edit", edit_book_path(@book.id), class: "button" %>
<%= link_to "Upvote", book_vote_path(@book.id), :method => :post, class: "button" %>
<%= link_to "Delete", book_path(@book.id),
    data: { confirm: "Are you sure you want to delete this book?" },
    method: :delete, class: "alert button"
%>
</section>

<section class="voting columns large-6 small-12">
  <h3><%= @book.votes.length %> votes for this movie</h3>
  <table>
  <thead>
    <tr>
      <th>User</th>
      <th>Date</th>
    </tr>
  </thead>
  <% @book.votes.each do |vote| %>
  <tbody>
    <td>
      <%=link_to User.find(vote.user_id).username, user_path(vote.user_id) %>
    </td>
    <td>
      <%= vote.created_at %>
    </td>
  </tbody>
  <% end %>
  </table>

</section>
