<h3>List of Albums</h3>

<table>
  <thead>
    <tr>
      <th>Votes</th>
      <th>Title</th>
      <th>Created By</th>
      <th>Published</th>
      <th>Upvote</th>
    </tr>
  </thead>
  <tbody>
    <% @albums.each do |album| %>
      <tr>
        <td>votes...</td>
        <td><%= link_to album.title, work_path(album.id) %></td>
        <td><%= album.creator %></td>
        <td><%= album.publication_year %></td>
        <td>link for upvote</td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "View all media", root_path %>
<%= link_to "Add a new album", new_album_path %>
