<h1>List of Albums</h1>

<table>
  <thead>
    <tr>
      <th>Votes</th>
      <th>Title</th>
      <th>Creator</th>
      <th>Published</th>
    </tr>
  </thead>
  <% @albums.each do |a| %>
  <tbody>
<td>
  <%= a.votes.length %>
</td>
<td>
  <%=link_to a.title, album_path(a.id) %>
</td>
<td>
  <%= a.creator %>
</td>
<td>
  <%= a.publication_year %>
</td>
<td>
  <%= link_to "Upvote", album_vote_path(a.id), :method => :post, class:"button" %>
</td>
</tbody>
<% end %>
</table>

<%= link_to "View all media", root_path, class:"button" %>
<%= link_to "Make New Album", new_album_path, class:"button" %>
