<section id="content">

  <h2><%= @result_album.title %></h2>

  <h3>Created by: ?</h3>
  <p>Published: <%= @result_album.pub_year %></p>
  <p><%= @result_album.description %></p>

<%= link_to "Back to album list", albums_path, class: :button %>
<%= link_to "Edit", edit_album_path, class: :button %>
<%= link_to "Delete", album_path, class: :button %>
<%= link_to "Upvote", votes_upvote_path(work_id: @result_album.id), class: :button, method: :post %>

  <h3> <%= @result_album.votes.length %> Votes for this album</h3>


  <table>
    <tr>
      <th>User</th>
      <th>Date</th>
    </tr>
    <td>User who voted</td>
    <td>Date voted</td>

  </table>

</section>
