<div class="row spotlight">
  <h3>Media Spotlight: <%= link_to @spotlight_work.title, work_path(@spotlight_work.id) %> by <%= @spotlight_work.creator %></h>
    <p>
      <%= pluralize(@spotlight_work.votes.count, "vote") %>
      <% if @spotlight_work.description != nil %>
        <%= "- #{@spotlight_work.description}" %>
      <% end %>
    </p>
  </div>

  <section class="top-ten columns large-4 small-12">
    <h3>Top Movies</h3>
    <ul>
      <% @movies[0..9].each do |movie| %>
      <li>
        <h4><%= link_to movie.title, work_path(movie.id) %><small> by <%= movie.creator %></small></h4>
        <p><%= movie.votes.size %> votes</p>
      </li>
      <% end %>
    </ul>
    <%= link_to "View More Movies", movies_path %>
  </section>

  <section class="top-ten columns large-4 small-12">
    <h3>Top Books</h3>
    <ul>
      <% @books[0..9].each do |book| %>
      <li>
        <h4><%= link_to book.title, work_path(book.id) %><small> by <%= book.creator %></small></h4>
        <p><%=  book.votes.size %> votes</p>
      </li>
      <% end %>
    </ul>
    <%= link_to "View More Books", books_path %>
  </section>

  <section class="top-ten columns large-4 small-12">
    <h3>Top Albums</h3>
    <ul>
      <% @albums[0..9].each do |album| %>
      <li>
        <h4><%= link_to album.title, work_path(album.id) %><small> by <%= album.creator %></small></h4>
        <p><%=  album.votes.size %> votes</p>
      </li>
      <% end %>
    </ul>
    <%= link_to "View More Albums", albums_path %>
  </section>
