<h1><%=@category%></h1>
<ul>
  <% @items_by_category.each do |item| %>
  <li>
    <%= link_to "#{item.title}", item_path(item.id) %>, <%=item.creator%>, <%=item.publication_year%>, <%=item.description%>
    <%= button_to 'vote', upvote_item_path(item.id), :class => "button", method: :post %>
  </li>
  <% end %>
</ul>
<%= link_to 'Back to homepage', root_path %>
<%= link_to "Create new #{@category}", new_item_path(@category) %>
