<h2 class ="index_page"> Media Spotlight:
  <% spotlight = Item.spotlight %>
  <%= link_to spotlight.title, item_path(spotlight) %> by <%=spotlight.creator%>

</h2>



<% ['movie', 'book', 'album'].each do |category| %>

<section class = "category_list">
  <h2><%= "Top #{category.capitalize}s"%></h2>
  <ul>
    <%  category_list = Item.by_category(category)%>
    <% category_list.each do |item| %>
    <li>
      <h4><%= link_to item.title, item_path(item) %></h4>
        <p> <%="#{item.votes.count} votes"%> </p> 
    </li>

    <% end %>
  </ul>
  <%= link_to "View more #{category}s", category_index_path(category) %>

</section>
<% end %>
