<h1>Media Ranker</h1>

<div class="movies">
  <h2>Top movies</h2>
  <ul>
    <% @movies.first(10).each do |movie| %>
    <li>
      <%= link_to "#{movie.title}", item_path(movie.id) %>, <%=movie.creator%>, <%=movie.publication_year%>, <%=movie.description%>
    </li>
    <% end %>
  </ul>
  <%= link_to 'View More Movies', category_path("movie") %>
</div>

<div class="books">
  <h2>Top books</h2>
  <ul>
    <% @books.first(10).each do |book| %>
    <li>
      <%= link_to "#{book.title}", item_path(book.id) %>, <%=book.creator%>, <%=book.publication_year%>, <%=book.description%>
    </li>
    <% end %>
  </ul>
  <%= link_to 'View More Books', category_path("book") %>
</div>

<div class="albums">
  <h2>Top albums</h2>
  <ul>
    <% @albums.first(10).each do |album| %>
    <li>
      <%= link_to "#{album.title}", item_path(album.id) %>, <%=album.creator%>, <%=album.publication_year%>, <%=album.description%>
    </li>
    <% end %>
  </ul>
  <%= link_to 'View More Albums', category_path("album") %>
</div>

<%= link_to "See all users", users_path %>
