<h2> <%= @item.title  %></h2>
<h3>Created by: <%= @item.creator  %> </h3>
<h3>Published: <%= @item.publication_year %> </h3>


<%= button_to "Back to #{@item.category} list", category_index_path(@item.category),
method: :get %>

<%= button_to "Edit", edit_item_path(@item),
method: :get %>

<%= button_to "Upvote", vote_path(@item), method: :post %>

<%= button_to "Delete", item_path(@item), method: :delete, data:  {confirm: "Are you sure?"} %>
