<link rel="stylesheet" href="app/assets/stylesheets/primary.css.scss" type="text/css">



<nav class="ccsticky-nav">
<section class="welcome-nav">
<ul>
<li><%= link_to "Media Ranker", root_path %></li>
<li><%= link_to "Works", works_path %></li>
<li><%= link_to "Users", users_path %></li>
<li><%= link_to 'Logout', welcome_logout_path, method: :delete %></li>
<li><%= link_to 'Login', welcome_login_path  %></li>
<li>Logged in as: <%= @user_id %>
  <%= @username %></li>
</ul>
</section>
</nav>






<!-- <img class="smileys" src="https://puu.sh/r22N7/eb74019e33.svg">
</header> -->
