<!DOCTYPE html>
<html>
  <head>
    <title>MediaRanker</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1> MediaRanker </h2>
    <nav>
  <ul>
    <li><%= link_to "Add New", new_work_path %></li>
    <% if session[:user_id] %>
      <li>
        <%= link_to "Logout", logout_path, method: :delete %>
        <% user = User.find(session[:user_id]) %>
        <%= link_to "#{user.username}", user_path(user.id) %>
      </li>
    <% else %>
      <li><%= link_to "Login", login_path%></li>
    <% end %>
  </ul>
</nav>
    <section class="flash">
      <% flash.each do |name, message| %>
        <div class="<%= name %>"><%= message %></div>
      <% end %>
</section>
    <%= yield %>
  </body>
</html>
