<!DOCTYPE html>
<html>
  <head>
    <title>MediaRanker</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h2><%= link_to "Media Ranker", works_path %></h2>
    <nav>
      <% if session[:user_id] %>
        <ul>Logged in as <%= link_to User.find_by_id(session[:user_id]).name, user_path(session[:user_id]) %></ul>
        <%= link_to "Log Out", logout_path, method: :delete %>
      <% else %>
        <ul>Not Logged In</ul>
        <%= link_to "Log In", login_path %>
      <% end %>

    </nav>



    <section class="flash">
      <% flash.each do |name, message| %>
        <div class="<%= name %>"><%= message %></div>
      <% end %>
    </section>

    <section class="errors">
        <% if @vote %>
          <% @vote.errors.each do |field, msg| %>
            <div><%= field %><%= msg %></div>
          <% end %>
        <% end %>
    </section>


    <%= yield %>
  </body>
</html>
