<!DOCTYPE html>
<html>
  <head>
    <title>MediaRanker</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <%= image_tag("owl.jpg", alt: "Home", height: "80px")  %>
      <p>
        <%= link_to "Media Ranker Ranking", welcome_path%> the Best of Everything
      </p>
    </header>
    <main>
      <%= yield %>
    </main>

  </body>
</html>
