<!DOCTYPE html>
<html>
  <head>
    <title>MediaRanker</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <h1><%= link_to "Media Ranker", root_path %></h1>
      <h2>Ranking the Best of Everything</h2>
      <% if !session[:user] %>
        <%= link_to "Login", login_path %>
        <p>You are not logged in</p>
      <% else %>
        <%= link_to "Logout", login_path, method: :delete %>
        <p>You are logged in as (username) </p>
      <% end %>
    </header>
    <section class="flash">
      <% flash.each do |name, message| %>
      <div class="<%= name %>"><%= message %></div>
      <% end %>
    </section>
    <%= yield %>
  </body>
</html>
