<!DOCTYPE html>
<html>
  <head>
    <title>MediaRanker</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <h1><%= link_to "Media Ranker", root_path %> Ranking the Best of Everything</h1>
      <% if session[:user_id] %>
        <p>Logged in as <%= User.find_by_id(session[:user_id]).username %></p>
        <p><%= link_to "Log Out", logout_path, method: :delete %></p>
      <% else %>
        <p>Not logged in.</p>
        <p><%= link_to "Login", login_path %></p>
      <% end %>
    </header>
    <section class="flash">
      <% flash.each do |name, message| %>
        <div class="<%= name %>"><%= message %></div>
      <% end %>
    </section>
    <%= yield %>
  </body>
</html>
