<!DOCTYPE html>
<html>
  <head>
    <title>MediaRanker</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <header>
    <%=link_to  root_path do %>
      <%=image_tag ("owl.jpg")%>
    <%end%>
    <%=link_to "Media Ranker", root_path%>
    <strong>Ranking the Best of Everything </strong>
    <% if session[:user_id]== nil %>
      <div><%=button_to "Login", login_path, method: :get%> </div>
    <%else%>
      <div>
        <%=button_to "Logout", logout_path, method: :delete%>
        <strong>logged in as <%=current_user(session[:user_id])%></strong>
       </div>
    <%end%>
    <div><%=button_to "Create new user", new_user_path, method: :get%> </div>
  </header>


  <section class="flash">
    <% flash.each do |name, message| %>
    <div class="<%= name %>"><%= message %></div>
    <% end %>
  </section>

  <body>
    <%= yield %>
  </body>
</html>
