<!DOCTYPE html>
<html>
  <head>
    <title>Media Rancor</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <header>

      <h2>
        <%= link_to "Media Rancor", root_path %>
        <small>Ranking the Best of Everything</small>
      </h2>

      <div>
        <p class="text-right">Logged in as <a>[USERNAME]</a></p>
        <a class="button float-right">Log Out</a>
      </div>

    </header>

    <main>
      <%= yield %>
    </main>

  </body>
</html>
