<!DOCTYPE html>
<html>
  <head>
    <title>Media Ranker</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
<body>
  <header>
    <img alt="An owl reading a book" src="/assets/owl.jpg"/>
    <%= link_to "Log In", new_session_path %>


    <h1><%= link_to "Media Ranker", root_path %></h1>
    <h2>Ranking the best of everything</h2>
  </header>

    <%= yield %>
  </body>
</html>
