<!DOCTYPE html>
<html>
  <head>
    <title>MediaRanker</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <!-- <%= image_tag("owl.jpg", alt: "owl reading a book") %> -->
      <h2>
        <%= link_to "Media Ranker", works_path("movies") %>
        <span class="small">Ranking the Best of Everything</span>
      </h2>
    </header>

    <main>
      <%= yield %>
    </main>
  </body>
</html>
