<!DOCTYPE html>
<html>
  <head>
    <title>MediaRanker</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <a href = "/works"
    <section id = "heading">
    </section>
  </a>
    <section id="heading_text">
      <p id="logo">Media Ranker</p>
      <p id="logo-2">Ranking the Best of Everything</p>
    </section>
    <section id="login">
       <% if session[:user_id]%>
       <em> <%= "You are logged in as #{User.find(session[:user_id]).username}"%></em>
          <%=link_to "logout", logout_path, method: :delete %>
       <%else%>
       <%=link_to "login", login_path %>
       <%end%>
    </section>
    </header>
    <%= yield %>
  </body>
</html>
