<!DOCTYPE html>
<html>
  <head>
    <title>MediaRanker</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <h1><%= link_to "Media Ranker", homepage_path %></h1>
      <section>
        <% if session[:user_id] %>
          <% user = User.find(session[:user_id]) %>
          <p>Logged in as: <%= link_to user.username, user_path(session[:user_id]) %></p>
          <p><%= button_to "Log Out", logout_path, :class => "button", :method => :delete %></p>
        <% else %>
          <p><%= button_to "Log In", login_path, :class => "button", :method => :get %></p>
        <% end %>
      </section>
    </header>

    <section class="flash">
      <% flash.each do |name, message| %>
        <div class="<%= name %>"><%= message %></div>
      <% end %>
    </section>

    <%= yield %>
  </body>
</html>


  <%= button_to "Back To All Media", homepage_path, :class => "button", :method => :get %>
