<!DOCTYPE html>
<html>
  <head>
    <title>MediaRanker</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="page-header row">
        <h2 class="columns large-9 small-12"><%= link_to "Media Ranker", root_path %> Ranking the Best of Everything</h2>
        <div class="columns large-3 small-12">
          <p class="text-right">
          <% unless session[:user_id] %>
          <%= link_to "Log in!", login_path %>
          <% else %>
          Logged in as <%= link_to "#{session[:user_name]}", user_path(session[:user_id]) %></p>
          <%= link_to "Log out", logout_path, method: :put,  class: "button float-right" %>
          <% end %>

      </div>
    </header>
    <section class="row status">
      <% flash.each do |name, message| %>
      <% if name == "success" %>
      <div class="success">
        <%= message %>

      </div>
      <% else %>
      <div class="error">
        <%= message %>

      </div>
      <%end%>
      <% end %>
    </section>
    <main class="row">

      <%= yield %>
    </main>

  </body>
</html>
