<!DOCTYPE html>
<html>
  <head>
    <img src="/assets/owl.jpg" style="width:160px;height:180px">
    <title>MediaRanker</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
    <h2><%= link_to "Media Ranker", root_path %></h2><h3>Ranking the Best of Everything</h3>
  </header>
  <nav>

    <% if session[:user_id] %>
    <% user_id = session[:user_id].to_s %>
      <p>
        Logged in as <%= link_to User.find_by_id(user_id).name, user_path(user_id) %>
      </p>
      <p class="button">
        <%= link_to "Logout",logout_path, method: :delete %>
      </p>
    <% else %>
      <p class="button"><%= link_to "Login", login_path %></p>
    <% end %>
  </nav>
  <%= csrf_meta_tags %>


  <body>
    <section class="flash">
     <% flash.each do |name, message| %>
       <div class="<%= name %>"><%= message %></div>
     <% end %>
    </section>
    <%= yield %>
  </body>

</html>
