<!DOCTYPE html>
<html>
  <head>
    <title>MediaRanker</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <header class="page-header row">
    <%= image_tag "owl.jpg" %>
  <h2 "columns large-9 small-12"><%= link_to "Media Ranker", works_path %><small> Ranking the Best of Everything</small></h2>


     <% flash.each do |name, message| %>
      <%= name %>"><%= message %></div>
     <% end %>

     <div class ="column large-3 small-12">
      <% if session[:user_id] %>
        <p class= "text-right">Logged in as <%= (User.find(session[:user_id])).name%></p>
        <a class= "button float-right" rel="nofollow" data-method="delete" href="/logout">Log Out</a>
          <!-- <%= link_to "Log Out", logout_path, method: :delete%> -->
      <% else %>
        <p class = "text-right">Not Logged in</p>

        <a class = "button float-right" href="/login">Log In</a>
        <!-- <%= link_to "Log In", login_path %></a> -->
      <% end %>
      </div>
    </header>

    <%= yield %>

</html>
