<!DOCTYPE html>
<html>
  <head>
    <title>MediaRanker</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <!-- <%= image_tag("owl.jpg", alt: "owl reading a book") %> -->
      <h2>
        <%= link_to "Media Ranker", home_path %>
        <span class="small">Ranking the Best of Everything</span>
      </h2>
      <div>
        <% if session[:user_id] %>
          <p>Logged in as <%= link_to session[:username], user_path(session[:user_id]) %></p>
          <%= link_to "Log Out", logout_path, method: :delete, class: "button" %>
        <% else %>
          <p>Not logged in</p>
          <%= link_to "Log In", login_path, class: "button" %>
        <% end %>
      </div>
    </header>

    <section class="flash">
      <% flash.each do |name, message| %>
        <h3 class="<%= name %>"><%= message %></h3>
      <% end %>
    </section>

    <main>
      <%= yield %>
    </main>
  </body>
</html>
