<!DOCTYPE html>
<html>
  <head>
    <title>MediaRanker</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <header>
    <h1><%= link_to "Media Ranker", mainpages_path %> Ranking the Best of Everything</h1>

    <p>Not Logged in/Logged in as <a href="#">[username]</a> <%= link_to "Log In/Log Out", new_user_path %></p>

    <p>
      <strong>Successfully created new user [username] with ID [index number].</strong>
      (This message shows only after logging in. Go to a different page
      it goes away. If on other page, redirects you to home)
      <strong>Successfully logged out.</strong> (Either of these are shown on the front page
      Log out shown on any page)
    </p>
    <section class="flash">
      <% flash.each do |name, message| %>
        <div class="<%= name %>"><%= message %></div>
        <% end %>
    </section>
  </header>

  <body>
    <%= yield %>
  </body>
</html>
