<!DOCTYPE html>
<html>
  <head>
    <title>Media Ranker</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="row page-header">
      <h1 class="small-12 large-9 columns"><%= link_to "Media Ranker", root_path %> <small>Ranking the Best of Everything</small></h1>
      <section class="small-12 large-3 columns">
        <% if session[:user_id] && User.find_by_id(session[:user_id]) %>
          <p class="text-right">Logged in as <%= link_to User.find_by_id(session[:user_id]).username, user_path(session[:user_id]) %></p>
          <p><%= link_to "Log Out", logout_path, method: :delete, class: "button float-right" %></p>
        <% else %>
          <p class="text-right">Not logged in.</p>
          <p><%= link_to "Login", login_path, class: "button float-right" %></p>
        <% end %>
      </section>
    </header>
    <% flash.each do |name, message| %>
      <h3 class="row status <%= name %>"><%= message %></div>
    <% end %>
    <main class="row">
      <%= yield %>
    </main>
  </body>
</html>
