<!DOCTYPE html>
<html>
  <head>
    <title>MediaRanker</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="nav">
  <ul>
    <li>
      <%= link_to "Media Ranker", root_path %> Ranking the Best of Everything
    </li>
  </ul>
    <section class="flash">
    <% flash.each do |name, message| %>
    <div class="<%= name %>"><%= message %></div>
    <!-- dynamically adding class to specific flash elements, used when something in the page was changed for a notice to users -->
    <% end %>
  </section>
    <%= yield %>
  </body>
</html>
