<!DOCTYPE html>
<html>
  <head>
    <title>Media Rancor</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <header>

      <h2>
        <%= link_to "Media Rancor", root_path %>
        <small>Ranking the Best of Everything</small>
      </h2>

      <div>
        <% if session[:user_id] %>
          <p class="text-right">Logged in as <a><%= User.find_by_id(session[:user_id]).username %></a></p>
          <%= link_to "Log Out", logout_path, method: :post %>
        <% else %>
          <%= link_to "Log In", login_path %>
        <% end %>
      </div>

    </header>

    <main>
      <%= yield %>
    </main>

  </body>
</html>
