<!DOCTYPE html>
<html>
     <head>
     <title>MediaRanker</title>
     <%= csrf_meta_tags %>

     <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
     <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
     </head>

     <body>
          <header>
               <div class="logo">
                         <p>Logo Placeholder</p>
               </div>
               <nav>
                    <ul>
                         <li>
                         <% unless session[:user_id] %>
                         <%= link_to "Login", login_path %>
                         <% else %>
                         <%= link_to "Logout", logout_path, method: :delete %>
                         <% end %>
                         </li>
                    </ul>
               </nav>
          </header>

          <section class="flash">
               <% flash.each do |status, message| %>
                    <div class="<%= status %>"><%= message %></div>
               <% end %>
          </section>

          <main>
               <%= yield %>
          </main>
     </body>
</html>
