<!DOCTYPE html>
<html>
  <head>
    <title>MediaRanker</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <banner>


  <h1><%= link_to "Media Ranker", works_path %> Ranking the Best of Everything</h1>
</banner>

  <body>
    <section class="flash">
     <% flash.each do |name, message| %>
       <div class="<%= name %>"><%= message %></div>
     <% end %>
   </section>


    <nav>
    <ul>
      <% if session[:user_id] %>
        <li>Logged in as <%= (User.find(session[:user_id])).name%></li>
        <li><%= link_to "Log Out", logout_path, method: :delete%></li>
      <% else %>
        <li>Not Logged in</li>
        <li><%= link_to "Log In", login_path %></li>
      <% end %>
    </ul>
  </nav>




    <%= yield %>
  </body>
</html>
