<!DOCTYPE html>
<html>
  <head>
    <title>MediaRanker</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <banner class="banner row">
    <%= image_tag "owl.jpg" %>
  <h1 "columns large-9 small-12"><%= link_to "Media Ranker", works_path %> Ranking the Best of Everything</h1>
</banner>

  <body>
    <section class="flash">
     <% flash.each do |name, message| %>
       <div class="<%= name %>"><%= message %></div>
     <% end %>
   </section>


    <nav>
      <% if session[:user_id] %>
        Logged in as <%= (User.find(session[:user_id])).name%></br>
        <%= link_to "Log Out", logout_path, method: :delete%>
      <% else %>
        Not Logged in</br>
        <%= link_to "Log In", login_path %>
      <% end %>
  </nav>




    <%= yield %>
  </body>
</html>
