<!DOCTYPE html>
<html>
<head>
  <title>Media Ranker</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <header class = "navigation row">
    <h2 class = "columns large-9 small-12">
      <%= link_to "Media Ranker", root_path %>
      <small>Ranking the Best of Everything</small>
    </h2>
    <div class = "columns large-3 small-12">
      <p class = "text-right">
        <section class="flash">
          <% flash.each do |name, message| %>
          <div class="<%= name %>"><%= message %></div>
          <% end %>
        </section>
      </p>

      <!-- TEST -->
      <nav>
        <ul>
          <% if session[:user_id] %>
          <li><%= link_to "Logout", logout_path, class: "button float-right", method: :delete %></li>
          <% else %>
          <li><%= link_to "Login", login_path, class: "button float-right" %></li>
          <% end %>
        </ul>
      </nav>
      <!-- ABOVE: logic for login/log out button -->

    </div>
  </header>


  <%= yield %>
</body>
</html>
