<!DOCTYPE html>
<html>
  <head>

    <title>MediaRanker</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
    <h2><%= link_to "MediaRanker", main_path %></h2>
    <h3>Ranking the Best of Everything</h3>
  <ul>
    <% user = User.find(session[:user_id]) %>
    <% if session[:user_id] %>
      <li>Logged in as <%= user.username %></li>
      <li class = "button"><%= link_to "Logout", logout_path(:user_id), method: :delete%></li>
    <% else %>
      <li><%= link_to "New User", new_user_path %></li>
      <li><%= link_to "Login", login_path, method: :get %></li>
    <% end %>
  </ul>
</nav>
    <section class = "flash">
      <% flash.each do |name, message| %>
       <div class = "<%= name %>"><%= message %></div>
      <% end %>
    </section>

    <%= yield %>
  </body>

</html>
