<!DOCTYPE html>
<html>
  <head>
    <title>MediaRanker</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="page-header row">
      <img src="assets/images/owl.jpg" alt="cute lil owl" class="columns large-1 small-0" />
      <h2 class="columns large-9 small-12"><%= link_to "Media Ranker", root_path %><small> Ranking the Best of Everything</small></h2>
      <% if !session[:user] %>
        <p>Not logged in</p>
        <%= link_to "Login", login_path, class: :button %>
      <% else %>
        <p>You are logged in as <%= link_to session[:user_name], user_path(session[:user]) %></p>
        <%= link_to "Logout", login_path, method: :delete, class: :button %>
      <% end %>
    </header>
    <section class="row status success">
      <% flash.each do |name, message| %>
      <div class="<%= name %>"><%= message %></div>
      <% end %>
    </section>
    <%= yield %>
  </body>
</html>
