<!DOCTYPE html>
<html>
  <head>
    <title>Media Rancor</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <header class="page-header row">

      <h2 class ="columns large-9 small-12">
        <%= link_to "Media Rancor", root_path %>
        <small>Ranking the Best of Everything</small>
      </h2>

      <div class="columns large-3 small-12">
        <% if session[:user_id] %>
          <p class="text-right">Logged in as <%= link_to User.find_by_id(session[:user_id]).username, user_path(session[:user_id]) %></p>
          <%= link_to "Log Out", logout_path, method: :post, class: "button float-right" %>
        <% else %>
          <p class="text-right">Not logged in</p>
          <%= link_to "Log In", login_path, class: "button float-right" %>
        <% end %>
      </div>

    </header>

    <main>
      <section class="row status">
        <% flash.each do |name, message| %>
          <h3 class="<%= name %>"><%= message %></h3>
        <% end %>
      </section>

      <%= yield %>
    </main>

  </body>
</html>
