<!DOCTYPE html>
<html>
<head>
  <title>Media Ranker</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<header>
  <h1>
    <%= link_to "Media Ranker", :root %>
  </h1>
  <h2> Ranking the Best of Everything </h2>
  <nav>
    <ul>
      <% unless session[:id] %>
      <li>
        <%= link_to "Login", login_path %>
      </li>
      <% else %>
      <li>
        Logged in as: <%= session[:name] %>
      </li>
      <li >
        <%= link_to "Logout", logout_path, method: :delete %>
      </li>
      <% end %>
    </ul>
  </nav>
</header>
<body>
  <section class="flash">
    <% flash.each do |status, msg| %>
    <div class="<%= status %>"><%= msg %></div>
    <% end %>
  </section>
  <main>
    <%= yield %>
  </main>
</body>
</html>
