<!DOCTYPE html>
<html>
  <head>
    <title>MediaRanker</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <nav class="header">
      <h2 class="title"><%= link_to "Media Ranker", root_path %><small> Ranking the Best of Everything</small></h2>

    <nav class="login">

      <% if session[:user_id] %>
      <% user_id = session[:user_id].to_s %>
        <p>
          Logged in as <%= link_to User.find_by_id(user_id).name, user_path(user_id) %>
        </p>
        <h4 class="button">
          <%= link_to "Logout",logout_path, method: :delete %>
        </h4>
      <% else %>
        <h4 class="button"><%= link_to "Login", login_path %></h4>
      <% end %>
    </nav>
  </head>
</nav>


  <%= csrf_meta_tags %>

  <body>
    <section class="flash">
     <% flash.each do |name, message| %>
       <div class="<%= name %>"><%= message %></div>
     <% end %>
    </section>
    <%= yield %>
  </body>

</html>
