<!DOCTYPE html>
<html>
  <head>
    <title>MediaRanker</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <%= image_tag("owl.jpg", alt: "Home", height: "80px")  %>
      <p>
        <%= link_to "Media Ranker", welcome_path%>  Ranking the Best of Everything
      </p>

      <section>
        <% if session[:user_id]%>
            <%= link_to "Logout", logout_path, method: :delete%>
        <% else%>
            <%= link_to "Login", login_path%>
        <% end%>
      </section>

      <section class="flash">
        <% flash.each do |name, message| %>
          <div class="<%= name %>"><%= message %></div>
        <% end %>
      </section>

    </header>
    <main>
      <%= yield %>
    </main>

  </body>
</html>
