<!DOCTYPE html>
<html>
  <head>
    <title>MediaRanker</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="main-header">
      <%= image_tag "assets/images/owl.jpg" %>
      <h1>Media Ranker</h1>
      <h2>Ranking the Best of Everything</h2>
      <ul>
        <li>
          Login status
        </li>
        <li>
          <%= button_to "Log In", :root, method: :get %>
        </li>
      </ul>
    </header>
    <%= yield %>
    <footer class="main-footer">

    </footer>
  </body>
</html>
