<!DOCTYPE html>
<html>
  <head>
    <title>Aurora's MediaRanker</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="main-header">
      <div class="row">

      <div class="small-2 medium-1 columns">
        <%= image_tag "owl.jpg", class: "owl" %>
      </div>


        <h1 class="small-12 large-9 columns"><%= link_to "Media Ranker", :root, method: :get %>
        <small>Ranking the Best of Everything</small></h1>


      <ul>
        <% if session[:user_id] == nil %>
        <div class="small-12 large-2 columns float-right">
          <li>
            Not logged in
          </li>
          <li><%= link_to "Log In", login_path, method: :get, class: "button" %></li>
        </div>

        <% else  %>
        <div class="small-4 medium-2 columns float-right">
            <li>
              Logged in as <%= link_to " #{User.find_by_id(session[:user_id]).username}", user_path(session[:user_id]) %>
            </li>
          <li>
            <%= link_to "Log Out", login_path, method: :delete, class: "button" %>
          </li>
        </div>
        <% end %>
      </ul>
    </div>
    </header>
    <section class="flash">
    <% flash.each do |name, message| %>
      <h3 class="row status <%= name %>"><%= message %></h3>
    <% end %>
    </section>
    <%= yield %>
    <footer class="main-footer">

    </footer>
  </body>
</html>
