<!DOCTYPE html>
<html>
  <head>
    <title>DankRank</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
    <nav>
      <%= image_tag("/assets/owl.jpg", :alt => 'Dank Owl')%>
        <h1><%= link_to 'DankRank', home_path %></h1>
        <h2> Rank the Best Dank Everything</h2>

        <section>
      <% if session[:user_id] %>
        Logged in as <%= link_to "#{User.find_by(id: session[:user_id]).name}", user_path(session[:user_id])%>
        <%= link_to "Logout", logout_path, method: :delete,:class => "gg-button"%>
        <%else%>
        Not Logged in
        <%= link_to "Login", login_path,:class => "gg-button"%>
        <%end%>
      </section>
    </nav>
  </header>

<main>
    <section class='flash'>
      <% flash.each do |name, message| %>
      <div class="<%= name %>"><%= message %></div>
      <% end %>
    </section>
  </main>

    <%= yield %>
  </body>
</html>
