<!DOCTYPE html>
<html>
  <head>
    <title>MediaRanker</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <h1><%= link_to "Media Ranker", root_path %></h1>
      <p>
        Ranking the Best of Everything
      </p>
      <p>
        <% unless session[:user_id] %>
        <%= link_to "Log in!", login_path %>
        <% else %>
        <%= link_to "Log out!", logout_path, method: :put %>
        <% end %>
      </p>
    </header>
    <%= yield %>
  </body>
</html>
